@charset "utf-8";
@import url(./common.css);




/*########## vision ##########*/
.vision_wrap .sub_title { align-items: flex-start; }
.vision_wrap .sub_title h3 { margin-top: 8px; letter-spacing: 8px; }
.vision_wrap .sub_title div { position: relative; }
.vision_wrap .sub_title div span { font-size: 22px; color: #99DCFD; font-weight: 600; }
.vision_wrap .sub_title div span:before,
.vision_wrap .sub_title div span:after { display: none; }
.vision_wrap .sub_title p { position: relative; padding: 0 0 0 65px; line-height: 22px; font-size: 15px; font-weight: 300; }
.vision_wrap .sub_title p:before { content: ""; position: absolute; top: 0; left: 48px; width: 10px; height: 10px; border-bottom: 1px solid #fff; border-left: 1px solid #fff; }

.vision_wrap .v_cont { display: flex; align-items: center; justify-content: center; position: relative; margin: 0 auto; width: 500px; height: 500px; }
.vision_wrap .v_cont h4 { position: absolute; line-height: 24px; font-size: 18px; color: #fff; font-weight: 500; }
.vision_wrap .v_cont h4 span { display: block; text-transform: uppercase; }
.vision_wrap .v_cont h4 span:after { content: ""; display: inline-block; margin: 0 0 0 3px; width: 7px; height: 10px; background: url(../img/sub/about/vision_comma.svg) no-repeat center; background-size: 100%; vertical-align: bottom; }
.vision_wrap .v_cont img { max-width: 100%; max-height: 100%; }

.vision_wrap .vision_list { display: flex; margin: 12vh 0 0; }
.vision_wrap .vision_list li { display: flex; align-items: center; width: 50%; }
.vision_wrap .vision_list h5 { flex: 1; font-size: 18px; color: #99dcfd; font-weight: 600; text-align: center; }
.vision_wrap .vision_list h5 span { display: block; font-size: 16px; color: #daf3ff; text-transform: uppercase; }
.vision_wrap .vision_list div { flex: 2; }
.vision_wrap .vision_list p { position: relative; margin: 5px 0 0; padding: 0 0 0 12px; line-height: 20px; font-size: 16px; color: #fff; font-weight: 400; }
.vision_wrap .vision_list p:before { content: ""; position: absolute; top: 10px; left: 0; width: 6px; height: 2px; background: #fff; }
.vision_wrap .vision_list p:first-child { margin: 0; }
.vision_wrap .vision_list p span { display: block; font-size: 13px; }

.vision_wrap .cont { position: relative; top: -80px; opacity: 0; transition: all 1s; }
.vision_wrap .cont.on { top: 0; opacity: 1; } 


/*### page 1 ###*/
header.vision_1 { background: url(../img/sub/about/vision_bg_1.jpg) no-repeat center top; background-size: cover; }


.vision_wrap #section_1 { background: url(../img/sub/about/vision_bg_1.jpg) no-repeat center top; background-size: cover; }
.vision_wrap #section_1 .cWrap { padding-bottom: 0; }
.vision_wrap #section_1 .wrap { margin: 0 auto; padding-bottom: 120px; max-width: 1000px; }

/* cont 1 */
.vision_wrap #section_1 .vision1 video { display: block; margin: 0 auto; max-width: 100%; }
.vision_wrap #section_1 .vision1 .img { position: relative; }
.vision_wrap #section_1 .vision1 .img:after { content: "open benefit"; position: absolute; top: calc(50% - 30px); left: calc(50% - 45px); font-size: 20px; color: #fff; font-weight: 600; text-transform: uppercase; }
.vision_wrap #section_1 .vision1 h4:first-child { top: 50%; left: 50%; transform: translate(-350px, -50%); }
.vision_wrap #section_1 .vision1 h4:last-child { bottom: 80px; right: 50%; transform: translateX(380px); }

/* cont 2 */
.vision_wrap #section_1 .cont_2 { margin: 0 auto 70px; max-width: 1000px; background: rgba(0, 26, 62, .5); }
.vision_wrap #section_1 .cont_2 > div { display: flex; align-items: center; padding: 30px 40px; background: rgba(255, 255, 255, .2); }
.vision_wrap #section_1 .cont_2 ul { display: flex; align-items: center; justify-content: space-between; width: 100%; }
.vision_wrap #section_1 .cont_2 li { position: relative; width: 220px; line-height: 24px; font-size: 16px; color: #fff; font-weight: 500; }
.vision_wrap #section_1 .cont_2 li:nth-child(3) { width: 160px; }
.vision_wrap #section_1 .cont_2 li:nth-child(5) { width: 240px; }
.vision_wrap #section_1 .cont_2 li.icon { width: 18px; height: 18px; opacity: .7; transform: rotate(-45deg); }
.vision_wrap #section_1 .cont_2 li.icon img { width: 100%; }
.vision_wrap #section_1 .cont_2 h5 { margin: 0 0 10px; font-size: 18px; color: #99dcfd; font-weight: 600; }
.vision_wrap #section_1 .cont_2 h5 span { font-size: 30px; font-weight: 500; }
.vision_wrap #section_1 .cont_2 li i { display: block; font-style: normal; }

/* cont 3 */
.vision_wrap #section_1 .cont_3 { position: relative; margin: 45px 0 0; text-align: center; }
.vision_wrap #section_1 .cont_3:before { content: ""; position: absolute; top: -150px; right: -160px; width: 191px; height: 141px; background: url(../img/sub/about/vision1_2.svg) no-repeat center; background-size: 100%; }
.vision_wrap #section_1 .cont_3:after { content: ""; position: absolute; bottom: -50px; left: -100px; width: 89px; height: 98px; background: url(../img/sub/about/vision1_3.svg) no-repeat center; background-size: 100%; }
.vision_wrap #section_1 .cont_3 ul { display: flex; justify-content: space-around; }
.vision_wrap #section_1 .cont_3 li { position: relative; padding: 72px 0 0; width: 200px; height: 200px; line-height: 22px; font-size: 16px; color: #fff; border: 2px solid #fff; border-radius: 50%; }
.vision_wrap #section_1 .cont_3 li:nth-child(3) { padding: 60px 0 0; }

.vision_wrap #section_1 .cont_3 li:nth-child(1):after,
.vision_wrap #section_1 .cont_3 li:nth-child(3):before  { content: ""; position: absolute; top: 50%; width: 40px; height: 40px; background: url(../img/sub/title_x_w.svg) no-repeat center; background-size: 100%; transform: rotate(90deg) translate(-50%, -50%); }
.vision_wrap #section_1 .cont_3 li:nth-child(1):after { right: -68px; }
.vision_wrap #section_1 .cont_3 li:nth-child(3):before { left: -108px; }

.vision_wrap #section_1 .cont_3 li h5 { margin: 0 0 6px; line-height: 26px; font-size: 20px; font-weight: 500; }
.vision_wrap #section_1 .cont_3 li span { display: block; }
.vision_wrap #section_1 .cont_3 p { margin: 55px 0 0; line-height: 26px; font-size: 18px; color: #fff; vertical-align: top; }
.vision_wrap #section_1 .cont_3 p span { position: relative; padding: 5px 12px; }
.vision_wrap #section_1 .cont_3 p span:before { content: ""; position: absolute; top: 0; left: 0; width: 7px; height: 7px; border-top: 1px solid #fff; border-left: 1px solid #fff; }
.vision_wrap #section_1 .cont_3 p span:after { content: ""; position: absolute; bottom: 0; right: 0; width: 7px; height: 7px; border-bottom: 1px solid #fff; border-right: 1px solid #fff; }




@media (max-width: 1400px) {
    .vision_wrap #section_1 .wrap { padding-bottom: 150px; }

    /* cont 2 */
    .vision_wrap #section_1 .cont_2 { margin: 0 auto 100px; }

    /* cont 3 */
    .vision_wrap #section_1 .cont_3:before { top: -160px; right: 0; width: 170px; height: 126px; }
    .vision_wrap #section_1 .cont_3:after { left: 0; }


}



@media (max-width: 1100px) {
    .vision_wrap .sub_title h3 { margin-top: 4px; }
    .vision_wrap .sub_title div span { font-size: 18px; }
    .vision_wrap .sub_title p { padding: 0 0 0 30px; line-height: 20px; font-size: 14px; word-break: keep-all; }
    .vision_wrap .sub_title p:before { left: 13px; }

    .vision_wrap .vision_list { margin: 15vh 0 0; }
    .vision_wrap .vision_list h5 { font-size: 16px; }
    .vision_wrap .vision_list h5 span { font-size: 14px; }
    .vision_wrap .vision_list div { flex: 3; }
    .vision_wrap .vision_list p { font-size: 14px; }

    
    /*### page 1 ###*/
    .vision_wrap #section_1 .wrap { padding-left: 30px; padding-right: 30px; }

    /* cont 2 */
    .vision_wrap #section_1 .cont_2 { max-width: 100%; }
    .vision_wrap #section_1 .cont_2 > div { padding: 30px; }
    .vision_wrap #section_1 .cont_2 ul { flex-wrap: wrap; }
    .vision_wrap #section_1 .cont_2 li { width: 200px; line-height: 22px; font-size: 15px; }
    .vision_wrap #section_1 .cont_2 li:nth-child(3) { width: 145px; }
    .vision_wrap #section_1 .cont_2 li:nth-child(5) { width: 220px; }
    .vision_wrap #section_1 .cont_2 h5 { font-size: 17px; }
    .vision_wrap #section_1 .cont_2 h5 span { font-size: 26px; }

    /* cont 3 */
    .vision_wrap #section_1 .cont_3:after { bottom: -100px; }

    .vision_wrap #section_1 .cont_3 ul { position: relative; display: block; margin: 0 0 260px; }
    .vision_wrap #section_1 .cont_3 li:nth-child(1),
    .vision_wrap #section_1 .cont_3 li:nth-child(3) { position: absolute; top: 180px; }
    .vision_wrap #section_1 .cont_3 li:nth-child(1) { left: 50%; transform: translateX(-280px); }
    .vision_wrap #section_1 .cont_3 li:nth-child(2) { margin: 0 auto; }
    .vision_wrap #section_1 .cont_3 li:nth-child(3) { right: 50%; padding: 60px 10px 0; transform: translateX(280px); word-break: keep-all; }
    .vision_wrap #section_1 .cont_3 li span { display: inline; }

    .vision_wrap #section_1 .cont_3 li:nth-child(1):after,
    .vision_wrap #section_1 .cont_3 li:nth-child(3):before  { top: -50px; }
    .vision_wrap #section_1 .cont_3 li:nth-child(1):after { right: 40%; }
    .vision_wrap #section_1 .cont_3 li:nth-child(3):before { left: 40%; transform: rotate(90deg) translate(-50%, 50%); }



}


@media (max-width: 820px) {
    .vision_wrap .sub_title p { font-size: 15px; }

    .vision_wrap .vision_list p span { letter-spacing: -0.3px; }


    .vision_wrap .cont { top: 0; opacity: 1; transition: none; }

    /*### page 1 ###*/
    .vision_wrap #section_1 .wrap { padding-left: 25px; padding-right: 25px; }

    /* cont 1 */
    .vision_wrap #section_1 .vision1 h4:last-child { bottom: 60px; transform: translateX(300px); }

    /* cont 3 */
    .vision_wrap #section_1 .cont_3 p { font-size: 16px; }



}


@media (max-width: 767px) {
    .vision_wrap .sub_title > div { font-size: 15px; }
    .vision_wrap .sub_title div span { font-size: 17px; }
    .vision_wrap .sub_title p { font-size: 14px; }

    .vision_wrap .v_cont { width: 100%; height: 400px; }

    .vision_wrap .vision_list { display: block; margin: 10vh 0 0; }
    .vision_wrap .vision_list li { margin: 20px auto 0; width: auto; max-width: 400px; }
    .vision_wrap .vision_list li:first-child { margin: 0 auto; }


    /*### page 1 ###*/
    .vision_wrap #section_1 .wrap { padding-left: 20px; padding-right: 20px; }

    /* cont 1 */
    .vision_wrap #section_1 .vision1 .img:after { font-size: 18px; }
    .vision_wrap #section_1 .vision1 h4:first-child { top: 40px; left: 0; transform: translateX(0); }
    .vision_wrap #section_1 .vision1 h4:last-child { bottom: 50px; right: 0; transform: translateX(0); }

    /* cont 2 */
    .vision_wrap #section_1 .cont_2 > div { display: block; }
    .vision_wrap #section_1 .cont_2 ul { display: block; padding: 0 0 0 15px; width: 100%; }
    .vision_wrap #section_1 .cont_2 li { width: 100%; text-align: center; }
    .vision_wrap #section_1 .cont_2 li:nth-child(3) { width: 100%; }
    .vision_wrap #section_1 .cont_2 li:nth-child(5) { width: 100%; }
    .vision_wrap #section_1 .cont_2 li.icon { margin: 20px auto; }

    /* cont 3 */
    .vision_wrap #section_1 .cont_3:before { width: 150px; height: 111px; }



}

@media (max-width: 650px) {
    /*### page 1 ###*/
    .vision_wrap .v_cont img { width: 100%; }

    /* cont 3 */
    .vision_wrap #section_1 .cont_3 ul { position: relative; display: block; margin: 0 0 220px; }
    .vision_wrap #section_1 .cont_3 li { padding: 51px 0 0; width: 160px; height: 160px; line-height: 20px; font-size: 14px; }
    .vision_wrap #section_1 .cont_3 li:nth-child(1),
    .vision_wrap #section_1 .cont_3 li:nth-child(3) { position: absolute; top: 180px; }
    .vision_wrap #section_1 .cont_3 li:nth-child(1) { left: 0; transform: translateX(0); }
    .vision_wrap #section_1 .cont_3 li:nth-child(3) { right: 0; padding: 41px 10px 0; transform: translateX(0); }

    .vision_wrap #section_1 .cont_3 li:nth-child(1):after,
    .vision_wrap #section_1 .cont_3 li:nth-child(3):before  { top: -40px; width: 35px; height: 35px; }
    .vision_wrap #section_1 .cont_3 li:nth-child(1):after { right: 50%; }
    .vision_wrap #section_1 .cont_3 li:nth-child(3):before { left: 50%; }

    .vision_wrap #section_1 .cont_3 li h5 { font-size: 16px; }
    .vision_wrap #section_1 .cont_3 p { font-size: 14px; }
    .vision_wrap #section_1 .cont_3 p span { display: block; text-align: left; word-break: keep-all; }
}



@media (max-width: 424px) {
    .vision_wrap .vision_list p span { font-size: 12px; letter-spacing: -0.5px; }


    /*### page 1 ###*/
    /* cont 1 */
    .vision_wrap #section_1 .vision1 .img:after { top: calc(50% - 25px); left: calc(50% - 40px); font-size: 16px; }

    /* cont 3 */
    .vision_wrap #section_1 .cont_3 ul { margin: 0 0 200px; }
    .vision_wrap #section_1 .cont_3 li { padding: 47px 0 0; width: 150px; height: 150px; font-size: 13px; }
    .vision_wrap #section_1 .cont_3 li:nth-child(1),
    .vision_wrap #section_1 .cont_3 li:nth-child(3) { top: 160px; }
    .vision_wrap #section_1 .cont_3 li:nth-child(3) { padding: 37px 0 0; }

    .vision_wrap #section_1 .cont_3 li:nth-child(1):after,
    .vision_wrap #section_1 .cont_3 li:nth-child(3):before  { top: -30px; width: 30px; height: 30px; }


}











/*########## ci ##########*/
.ci_wrap .sub_title > div li:first-child:before { display: none; }

.about_ci { display: flex; justify-content: space-around; margin: 70px 0 100px; }
.about_ci li { position: relative; padding: 180px 0 0; width: 300px; opacity: 0; transition: all 1s; }
.about_ci li:nth-child(1) { left: -100px; background: url(../img/sub/about/ci_img_1.svg) no-repeat center top; }
.about_ci li:nth-child(2) { top: 100px; background: url(../img/sub/about/ci_img_2.svg) no-repeat center 40px; }
.about_ci li:nth-child(3) { right: -100px; background: url(../img/sub/about/ci_img_3.svg) no-repeat center top; background-size: 200px; }

.about_ci li:before { content: ""; position: absolute; bottom: -10px; left: -37px; width: 40px; height: 40px; background: url(../img/sub/about/plus_icon.svg) no-repeat; background-size: 100%; opacity: 0; transition: opacity .5s 1s; }
.about_ci li:first-child:before { display: none; }

/* on */
.about_ci li.on { opacity: 1; }
.about_ci li.on:nth-child(1) { left: 0; }
.about_ci li.on:nth-child(2) { top: 0; }
.about_ci li.on:nth-child(3) { right: 0; }
.about_ci li.on:before { opacity: 1; }

.about_ci h5 { font-size: 20px; font-weight: 600; color: #282828; text-align: center; }
.about_ci p { margin: 30px auto 0; max-width: 180px; }

.about_ci li:last-child p { max-width: 200px; word-break: keep-all; } 


.ci_wrap .cont { position: relative; top: 100px; opacity: 0; transition: all .7s 1s; }
.ci_wrap .cont.on { top: 0; opacity: 1; }

.ci_logo { display: flex; align-items: center; justify-content: center; margin: 100px 0 0; }
.ci_logo img { width: 305px; }

.ci_info { margin: 0 0 0 65px; line-height: 28px; font-size: 16px; }
.ci_info:after { content: ""; display: block; clear: both; }
.ci_info dt { clear: both; float: left; width: 60px; font-weight: 600; letter-spacing: 0.5px; }
.ci_info dd { float: left; }

.ci_down { display: flex; justify-content: center; margin: 60px 0 120px; }
.ci_down li { margin: 0 0 0 10px; width: 320px; height: 55px; }
.ci_down li:first-child { margin: 0; }
.ci_down li a { display: block; line-height: 54px; font-size: 16px; color: #282828; border: 1px solid #282828; transition: all .3s; }
.ci_down li a span { display: flex; align-items: center; justify-content: center; text-transform: uppercase; }
.ci_down li a span:after { content: ""; display: block; margin: 0 0 0 25px; width: 14px; height: 14px; background: url(../img/sub/download_icon.svg) no-repeat center; background-size: 100%; }

.ci_down li a:hover { color: #fff; background: #282828; }
.ci_down li a:hover span:after { background: url(../img/sub/download_icon_w.svg) no-repeat center; }

.ci_color { display: flex; align-items: center; justify-content: center; width: 100%; text-transform: uppercase; }
.ci_color > li { display: flex; align-items: center; }
.ci_color > li:first-child { margin: 0 20px 0 0; }
.ci_color h6 { margin: 0 6px 0 0; font-size: 16px; color: #313131; font-weight: 400; }
.ci_color ul { display: flex; align-items: center; }
.ci_color ul:before { content: ""; display: block; margin: 0 5px 0 0;  width: 22px; height: 22px; background: #000; }
.ci_color > li:first-child ul:before { background: #e34049; }
.ci_color ul li { margin: 0 0 0 5px; }
.ci_color ul li:first-child { margin: 0; }



@media (max-width: 1100px) {
    .about_ci { margin: 50px 0 80px; }
    .about_ci li { padding: 140px 0 0; width: 250px; }
    .about_ci li:nth-child(1) { background-size: 120px; }
    .about_ci li:nth-child(2) { background-size: 140px; background-position: center 30px; }
    .about_ci li:nth-child(3) { background-size: 170px; }

    .about_ci li:before { display: none; }

    .about_ci h5 { font-size: 18px; }
    .about_ci p { margin: 25px auto 0; }


    .ci_logo { margin: 70px 0 0; }
    .ci_logo img { width: 280px; }

    .ci_down { margin: 70px 0; }
    .ci_down li { width: 100%; max-width: 300px; height: 50px; }
    .ci_down li a { line-height: 49px; font-size: 15px; }
    .ci_down li a span:after { margin: 0 0 0 20px; }

    .ci_color { position: static; display: block; }
    .ci_color > li { justify-content: center;}
    .ci_color > li:first-child { margin: 0 0 20px; }
    .ci_color h6 { margin: 0 10px 0 0; }
}

@media (max-width: 820px) {
    .about_ci { flex-wrap: wrap; justify-content: start; }
    .about_ci li { margin: 0 0 50px; padding: 110px 0 0; width: 50%; opacity: 1; transform: none; }
    .about_ci li:nth-child(1) { left: 0; background-size: 100px; }
    .about_ci li:nth-child(2) { top: 0; background-size: 120px; background-position: center 20px; }
    .about_ci li:nth-child(3) { right: 0; margin: 0; background-size: 150px; }

    .about_ci li:before { opacity: 1; transition: none; }

    .about_ci h5 { font-size: 17px; }
    .about_ci p { margin: 20px auto 0; width: 170px; font-size: 15px; }
    .about_ci li:last-child p { width: 190px; }


    .ci_logo { display: block; margin: 70px 0 0; text-align: center; }
    .ci_logo img { width: 280px; }
    
    .ci_info { margin: 40px auto 0; width: 180px; }

    .ci_wrap .cont { top: 0; opacity: 1; transition: none; }

    .ci_down { margin: 100px 0 0; }
    .ci_down li { width: 100%; max-width: 300px; height: 50px; }
    .ci_down li a { line-height: 49px; font-size: 15px; }
    .ci_down li a span:after { margin: 0 0 0 20px; }

    .ci_color { display: none; }
}

@media (max-width: 767px) {
    .about_ci { justify-content: center; }
    .about_ci li { margin: 0 0 100px; padding: 110px 0 0; width: 100%; }
    .about_ci li:nth-child(2) { padding: 90px 0 0; background-position: center top; }

    .about_ci li:before { display: block; top: -70px; bottom: auto; left: 50%; transform: translateX(-50%); }



    .ci_down { display: block; margin: 80px 0 0; }
    .ci_down li { margin: 0 auto; height: 45px; }
    .ci_down li:first-child { margin: 0 auto 10px; }
    .ci_down li a { line-height: 44px; font-size: 15px; }
    .ci_down li a span:after { margin: 0 0 0 20px; }

}














/*########## o.people ##########*/
.opeople .cont img { max-width: 100%; }
.opeople .cont .txt p { margin: 30px 0 0; line-height: 23px; font-size: 16px; word-break: keep-all; }
.opeople .cont .txt p:first-child { margin: 0; }
.opeople .cont .txt p span { font-size: 22px; font-weight: 500; }
.opeople .cont .txt p b { font-weight: 600; }
.opeople .cont .txt p i { display: block; font-style: normal; }

.opeople .cont_1 { position: relative; top: 100px; padding: 0 0 175px; text-align: right; opacity: 0; transition: all .7s; }
.opeople .cont_1.on { top: 0; opacity: 1; }
.opeople .cont_1:after { content: ""; position: absolute; bottom: 0; left: 50%; width: 1px; height: 130px; background: #919191; transform: translateX(-50%); }
.opeople .cont_1 .img { position: relative; display: inline-block; vertical-align: top; }
.opeople .cont_1 .img div { position: absolute; bottom: -165px; left: -240px; line-height: 60px; font-size: 46px; color: #284eb7; font-weight: 900; letter-spacing: 2px; text-align: left; font-family: 'Chosunilbo_myungjo'; opacity: 0; transition: all 2s 1s; }
.opeople .cont_1 .img div:before { content: ""; position: absolute; top: -15px; left: 0; width: 25px; height: 17px; background: url(../img/sub/about/o_quotation.svg) no-repeat center; background-size: 100%; }
.opeople .cont_1 .img div.on { bottom: -65px; left: -240px; opacity: 1; }
.opeople .cont_1 .img div p {font-family: 'Chosunilbo_myungjo'; }
.opeople .cont_1 .img div span { font-size: 20px; color: #282828; font-family: 'Chosunilbo_myungjo'; }

.opeople .cont_1 .txt { display: inline-block; margin: 15px 0 0 20px; width: 400px; text-align: left; vertical-align: top; }
.opeople .cont_1 .txt p { margin: 25px 0 0; }

.opeople .cont_2 { margin: 40px 0 30px; }
.opeople .cont_2 .quot_txt { position: relative; margin: 0 0 30px; line-height: 30px; font-size: 20px; color: #313131; font-weight: 600; word-break: keep-all; font-family: 'Chosunilbo_myungjo'; }
.opeople .cont_2 .quot_txt:before { content: ""; position: absolute; top: -5px; left: -20px; width: 12px; height: 8px; background: url(../img/sub/about/quotation_marks_1.svg) no-repeat center; background-size: 100%; }
.opeople .cont_2 .quot_txt:after { content: ""; display: inline-block; margin: 0 0 0 5px; width: 12px; height: 8px; background: url(../img/sub/about/quotation_marks_2.svg) no-repeat center; background-size: 100%; vertical-align: bottom; }

.opeople .name { text-align: right; } 



@media (max-width: 1100px) {
    .opeople .cont_1 { padding: 0 0 175px; text-align: center; }
    .opeople .cont_1:after { display: none; }
    .opeople .cont_1 .img { width: 340px; }
    .opeople .cont_1 .img div { bottom: -240px; left: 0; line-height: 50px; font-size: 35px; }
    .opeople .cont_1 .img div.on { bottom: -140px; left: 0; }
    .opeople .cont_1 .img div span { font-size: 18px; }
    .opeople .cont_1 .txt { margin: 15px 0 0 10px; }

    .opeople .cont_2 .quot_txt { padding: 0 0 0 20px; line-height: 28px; font-size: 18px; }
    .opeople .cont_2 .quot_txt:before { left: 0; }
}

@media (max-width: 820px) {
    .opeople .cont_1 { display: block; padding: 0 0 30px; transition: none;  }
    .opeople .cont_1 .img { display: block; margin: 0 auto; text-align: center; }
    .opeople .cont_1 .img div { position: relative; bottom: -130px; transition: none; }
    .opeople .cont_1 .img div.on { bottom: -30px; }
    .opeople .cont_1 .txt { margin: 70px auto 0; width: 100%; /* max-width: 400px; */ }
}

@media (max-width: 767px) {
    .opeople .sub_title > div { display: block; }
    .opeople .sub_title > div div { display: inline; }

    .opeople .cont_1 .img div { margin: 0 auto; width: 270px; line-height: 45px; font-size: 30px; }
    .opeople .cont_1 .img div span { font-size: 17px; }
    .opeople .cont_1 .img img { max-width: 80%; }

    .opeople .cont_2 .quot_txt { font-size: 17px; }
}

@media (max-width: 424px) {
    .opeople .cont .txt p { font-size: 14px; }
    .opeople .cont .txt p span { font-size: 19px; }

    .opeople .cont_1 .img div { width: 260px; line-height: 40px; font-size: 28px; }
    .opeople .cont_1 .img div span { font-size: 16px; }

    .opeople .cont_2 .quot_txt { line-height: 24px; font-size: 16px; }
}










/*########## history ##########*/
.history > .cWrap { padding-bottom: 0; }
.history .sub_title { margin-bottom: 0; border-bottom: 0; }


.historyWrap .cont_wrap { display: flex; margin: 0 auto; width: 100%; max-width: 1000px; }
.historyWrap .title { position: relative; margin: 130px 0 0; width: 270px; letter-spacing: -0.2px; }
.historyWrap .title:before { position: absolute; left: 50px; font-size: 150px; color: #fff; font-weight: 500; }
.historyWrap .title h5 { position: relative; font-size: 20px; color: #1443bc; font-weight: 600; z-index: 9; }
.historyWrap .title h5 span { display: block; }
.historyWrap .title p { margin: 30px 0 10px; font-size: 17px; color: #282828; font-weight: 500; letter-spacing: -0.2px; }
.historyWrap .title p span { display: block; }
.historyWrap .title > span { display: block; font-size: 14px; color: #868686; letter-spacing: -0.2px; }

.historyWrap h4 { position: relative; left: -100px; margin: 30px 0 100px; width: 290px; text-align: center; font-size: 20px; font-weight: 400; }
.historyWrap h4 span { display: block; }
.historyWrap h4 i { font-weight: 600; font-style: normal; }

.historyWrap .cont { width: calc(100% - 270px); }
.historyWrap .cont > div { display: flex; }
.historyWrap .cont h6 { padding: 25px 0 0; width: 65px; font-size: 17px; color: #1443bc; font-weight: 600; text-align: center; background: #fff; }
.historyWrap .cont dl { padding: 25px 0 35px 30px; width: calc(100% - 65px); line-height: 22px; border-top: 1px solid rgba(0, 0, 0, .1); }
.historyWrap .cont > div:first-child dl { border-top: 0; }
.historyWrap .cont dl:after { content: ""; display: block; clear: both; }
.historyWrap .cont dt { clear: both; float: left; margin: 0 0 20px; width: 50px; font-size: 15px; color: #313131; font-weight: 500; }
.historyWrap .cont dd { float: left; margin: 0 0 20px; width: calc(100% - 50px); font-size: 15px; color: #313131; letter-spacing: -0.5px; word-break: keep-all; }
.historyWrap .cont dd p { margin: 20px 0 0; word-break: keep-all; }
.historyWrap .cont dd p:first-child { margin: 0; }
.historyWrap .cont dd span { font-weight: 600; }
.historyWrap .cont dd i { font-weight: 500; font-style: normal; }

.historyWrap .cont h4 + div h6 { position: relative; background: linear-gradient(rgba(255, 255, 255, 0), #fff) }
.historyWrap .cont h4 + div h6:before { content: ""; position: absolute; top: -60px; left: 15px; width: 35px; height: 27px; animation: bounce 2s infinite; background: url(../img/sub/about/history_arrow_1.svg) no-repeat center; background-size: 100%; }
.historyWrap .cont h4 + div h6:after { content: ""; position: absolute; top: -30px; left: 15px; width: 35px; height: 27px; animation: bounce 2s infinite; background: url(../img/sub/about/history_arrow_2.svg) no-repeat center; background-size: 100%; }
.historyWrap .cont h4 + div dl { border-top: 0; } 


/* on */
.historyWrap .cont_wrap { position: relative; top: 100px; opacity: 0; transition: all 1s; }
.historyWrap .cont_wrap.on { top: 0; opacity: 1; }



/* third */
.history_3 { background: rgba(232, 236, 248, .5); }
.history_3 .title { margin-top: 300px; }
.history_3 .title:before { content: "3"; top: -65px; }


/* second */
.history_2 { background: rgba(215, 220, 235, .5); }
.history_2 .title:before { content: "2"; top: -70px; opacity: .6; }


/* first */
.history_1 { background: #E2E6F0; }
.history_1 .title:before { content: "1"; top: -70px; opacity: .5; }

.history_1 .cont > div:last-child h6 { background: linear-gradient(#fff, rgba(255, 255, 255, 0)); }
.history_1 .cont > div:last-child dl { padding-bottom: 200px; }



@media (max-width: 1100px) {
    .historyWrap .cont_wrap { padding: 0 30px; }
    .historyWrap .title { width: 180px; }
    .historyWrap .title p { display: none;}
    .historyWrap .title > span { display: none; }

    .historyWrap .cont { width: calc(100% - 180px); }
}

@media (max-width: 820px) {
    .historyWrap .cont_wrap { padding: 0 25px; }
    .historyWrap .title { display: none; }
    .history .sub_title > div { display: block; }
    
    .historyWrap h4 { position: static; width: 100%; text-align: left; }
    .historyWrap h4 span { display: block; }
    .historyWrap h4 i { font-weight: 600; font-style: normal; }
    
    .historyWrap .cont_wrap { transition: none; }

    .historyWrap .cont { width: 100%; }
    .historyWrap .cont > div:first-child dl:before { position: relative; left: -10px; display: block; margin: 0 0 25px; line-height: 22px; font-size: 17px; color: #1443bc; font-weight: 600; }
    .historyWrap .cont dl { padding-left: 20px; }
    .historyWrap .cont dd i.block { display: block; }
    
    .historyWrap .cont h4 + div dl:before { content: "Third Generation"; position: relative; left: -10px; display: block; margin: 0 0 25px; line-height: 22px; font-size: 17px; color: #1443bc; font-weight: 600; }


    /* second */
    .history_2 .cont > div:first-child dl:before { content: "Second Generation"; }
    
    
    /* first */
    .history_1 .cont > div:first-child dl:before { content: "The first Generation"; }

    .history_1 .cont > div:last-child dl { padding-bottom: 120px; }
    
}







/*########## awards ##########*/
header.on.aw_head { background: url(../img/sub/about/awards_bg.jpg) no-repeat center top; background-size: cover; }
header.aw_head2 { background: url(../img/sub/about/awards_bg2.jpg) no-repeat center top; background-size: cover; }

/* page 1 */
.awards_wrap #section_1 { background: url(../img/sub/about/awards_bg.jpg) no-repeat center top; background-size: cover; }
.awards_wrap .aw_cont { display: flex; justify-content: space-between; }
.awards_wrap .aw_cont > li { position: relative; width: 260px; top: 100px; opacity: 0; }
.awards_wrap .aw_cont > li:nth-child(1) { transition: all 1s; }
.awards_wrap .aw_cont > li:nth-child(2) { transition: all 1s .3s; }
.awards_wrap .aw_cont > li:nth-child(3) { transition: all 1s .6s; }


.awards_wrap .aw_cont > li:before { content: ""; position: absolute; top: 130px; left: -90px; width: 70px; height: 1px; background: #fff; opacity: 0; transition: opacity .5s 1.5s; }
.awards_wrap .aw_cont > li:first-child:before { display: none; }

/* on */
.awards_wrap .aw_cont > li.on { top: 0; opacity: 1; }
.awards_wrap .aw_cont > li.on:before { opacity: 1; }


.awards_wrap .aw_cont .tit { display: flex; align-items: center; justify-content: center; height: 260px; background: url(../img/sub/about/awards_tit_bg.svg) no-repeat center; background-size: 100%; }
.awards_wrap .aw_cont .tit:hover { animation: bounce .5s; }
.awards_wrap .aw_cont h5 { position: relative; top: -5px; font-size: 30px; color: #6c95ff; font-weight: 600; text-align: center; }
.awards_wrap .aw_cont h5 p { margin: 10px 0 0; line-height: 23px; font-size: 18px; color: #c6d6ff; font-weight: 500; }
.awards_wrap .aw_cont .sub { margin: 0 auto; width: 240px; }
.awards_wrap .aw_cont .sub li { margin: 20px 0 0; padding: 0 0 0 25px; line-height: 22px; font-size: 16px; color: #fff; letter-spacing: -0.3px; word-break: keep-all; background: url(../img/sub/about/awards_dot.svg) no-repeat left 1px; }
.awards_wrap .aw_cont .sub li:first-child { margin: 45px 0 0; }
.awards_wrap .aw_cont .sub p { margin: 5px 0 0; font-size: 14px; font-weight: 600; text-align: right; }
.awards_wrap .aw_cont .sub i { font-weight: 600; font-style: normal; }




/* page 2 */
.awards_wrap #section_2 .cWrap { padding-bottom: 80px; }
.awards_wrap #section_2 { background: url(../img/sub/about/awards_bg2.jpg) no-repeat center top; background-size: cover; }
.awards_wrap .aw_cert { display: flex; justify-content: space-between; flex-wrap: wrap; position: relative; top: 100px; opacity: 0; transition: all .7s; }
.awards_wrap .aw_cert.on { top: 0; opacity: 1; }
.awards_wrap .aw_cert li { margin: 0 0 7vh; width: 32%; text-align: center; }
.awards_wrap .aw_cert .logo { display: flex; align-items: center; justify-content: center; padding: 0 20px; height: 120px; background: #fff; }
.awards_wrap .aw_cert .logo img { max-width: 100%; }
.awards_wrap .aw_cert h6 { display: inline-block; margin: 18px 0 0; font-size: 17px; color: #313131; font-weight: 500; letter-spacing: -0.2px; text-align: left; }
.awards_wrap .aw_cert h6 span { display: block; font-size: 14px; font-weight: 600; }




@media (max-width: 1100px) {
    /* page 1 */
    .awards_wrap .aw_cont > li { width: 220px; }

    .awards_wrap .aw_cont > li:before { display: none; }

    .awards_wrap .aw_cont .tit { height: 220px; }
    .awards_wrap .aw_cont h5 { font-size: 28px; }
    .awards_wrap .aw_cont h5 p { font-size: 16px; }
    .awards_wrap .aw_cont .sub { width: 210px; }
}

@media (max-width: 820px) {
    /* page 1 */
    .awards_wrap .aw_cont > li { transition: none !important; }
    .awards_wrap .aw_cont > li:before { transition: none; }

    .awards_wrap .aw_cont { flex-wrap: wrap; }
    .awards_wrap .aw_cont > li { margin: 200px 0 0; width: 100%; }
    .awards_wrap .aw_cont > li:first-child { margin: 0; }

    .awards_wrap .aw_cont > li:before { display: block; top: -140px; left: 50%; width: 1px; height: 80px; transform: translateX(-50%); }

    .awards_wrap .aw_cont .tit { height: 300px; background-size: 300px; }
    .awards_wrap .aw_cont h5 { font-size: 30px; }
    .awards_wrap .aw_cont h5 p { font-size: 18px; }
    .awards_wrap .aw_cont .sub { width: 100%; max-width: 590px; }
    .awards_wrap .aw_cont .sub li { margin: 35px 0 0; padding: 0 0 0 28px; background-size: 20px; }


    /* page 2 */
    .awards_wrap #section_2 .cWrap { padding-bottom: 100px; }
    .awards_wrap .aw_cert { justify-content: space-between; padding: 0 50px; top: 0; opacity: 1; transition: none; }
    .awards_wrap .aw_cert li { margin: 0 0 50px; width: 47%; }
    .awards_wrap .aw_cert .logo {  padding: 0 40px; }
    .awards_wrap .aw_cert h6 { font-size: 16px; letter-spacing: -0.3px; }
}

@media (max-width: 767px) {
    /* page 1 */
    .awards_wrap .aw_cont .tit { height: 260px; background-size: 260px; }
    .awards_wrap .aw_cont h5 { font-size: 28px; }
    .awards_wrap .aw_cont h5 p { font-size: 17px; }
    .awards_wrap .aw_cont .sub { padding: 0 20px; }
    .awards_wrap .aw_cont .sub li { margin: 15px 0 0; padding: 0 0 0 26px; line-height: 20px; font-size: 14px; letter-spacing: -0.5px; text-align: left; word-break: keep-all; background-size: 18px; }
    .awards_wrap .aw_cont .sub p { font-size: 13px; }


    /* page 2 */
    .awards_wrap .aw_cert { display: block; padding: 0; }
    .awards_wrap .aw_cert li { margin: 0 auto 40px; width: 100%; max-width: 300px; }
    .awards_wrap .aw_cert li:last-child { margin-bottom: 0; }
    .awards_wrap .aw_cert .logo { height: 100px; }
    .awards_wrap .aw_cert .logo img { max-height: 50px; }
    .awards_wrap .aw_cert h6 { font-size: 16px; letter-spacing: -0.3px; }
}

@media (max-width: 424px) {
    /* page 1 */
    .awards_wrap .aw_cont .tit { height: 260px; background-size: 260px; }
}












/*########## location ##########*/
.location .sub_title { padding: 0; border-bottom: 0; }
.location .sub_title h3 { margin: 0; padding: 0; letter-spacing: 8px; background: 0; }

/*### tab menu ###*/
.location .tabMenu { display: flex; }
.location .tabMenu li { display: flex; align-items: center; justify-content: center; width: 25%; height: 60px; font-size: 16px; color: #313131; border: 1px solid #ccc; border-left: 0; transition: all .3s; cursor: pointer; }
.location .tabMenu li:first-child { border-left: 1px solid #ccc; }
.location .tabMenu li:hover { color: #fff; background: #7c9df1; border-color: #7c9df1; }
.location .tabMenu li.on { color: #fff; font-weight: 600; background: #1443bc; border-color: #1443bc; }

/*### tab contents ###*/
.location .tabCont { margin: 35px 0 0; }
.location .tabCont > div { display: none; position: relative; }
.location .tabCont > div:first-child { display: block; }
.location .tabCont h4 { display: flex; align-items: center; justify-content: end; font-size: 20px; color: #282828; font-weight: 500; text-transform: uppercase; }
.location .tabCont h4:before { content: ""; display: block; margin: 0 13px 0 0; width: 24px; height: 2px; background: #282828; }

.location .map_wrap { display: flex; margin: 15px 0 0; }
.location .map_wrap > div { height: 400px; overflow: hidden; }
.location .map_wrap > div:first-child { margin: 0 2px 0 0; width: calc(60% - 2px); }
.location .map_wrap > div:last-child { width: 40%; overflow: hidden; cursor: pointer; }
.location .map_wrap > div:last-child img { transition: all .3s; }
.location .map_wrap > div:last-child:hover img { transform: scale(1.1); }
.location .root_daum_roughmap { width: 100% !important; }
.location .root_daum_roughmap .wrap_map { height: 400px !important; }
.location .map_wrap img { width: 100%; height: 100%; }

.location .info { margin: 30px 0 0; }
.location .info h6 { font-size: 22px; color: #1443bc; font-weight: 600; text-transform: uppercase; }
.location .info address { margin: 10px 0 0; line-height: 25px; font-size: 16px; color: #313131; font-weight: 500; font-style: normal; }
.location .info address span { font-weight: 400; }
.location .info address a { display: inline-block; margin: 0 0 0 12px; width: 25px; height: 25px; background: url(../img/sub/about/location_icon.svg) no-repeat center; background-size: 100%; transition: all .3s; text-indent: -9999px; }
.location .info address a:hover { opacity: .7; }
.location .info p { margin: 5px 0 0; line-height: 22px; font-size: 14px; color: #313131; font-weight :500; }
.location .info button { position: absolute; bottom: 80px; right: 0; padding: 0 13px 0 6px; line-height: 25px; font-size: 14px; color: #656565; background: none; transition: all .3s; text-transform: uppercase; }
.location .info button:before { content: ""; position: absolute; bottom: 0; left: 0; width: 100%; height: 2px; background: #656565; transition: left .3s; }
.location .info button:after { content: ""; position: absolute; bottom: 3px; right: 0; width: 8px; height: 2px; background: #656565; transform: rotate(45deg); transition: right .3s; }
.location .info button:hover { opacity: .7; }


/*### popup ###*/
.location_pop { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 9999; }
.location_pop .pop_bg { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, .7); }
.location_pop .cont_wrap { position: relative; margin: 10vh auto 0; padding: 55px 35px 0; width: 100%; max-width: 1000px; height: 80%; background: #fff; overflow-y: auto; }
.location_pop button { position: absolute; top: 25px; right: 35px; width: 25px; height: 25px; background: url(../img/sub/title_x.svg) no-repeat center; background-size: 100%; transition: all .3s; cursor: pointer; text-indent: -9999px; }
.location_pop button:hover { transform: rotate(90deg); }
.location_pop .tit h4 { display: flex; align-items: center; font-size: 23px; color: #282828; font-weight: 500; text-transform: uppercase; }
.location_pop .tit h4:after { content: ""; display: block; margin: 0 0 0 12px; width: 24px; height: 2px; background: #282828; }
.location_pop .tit p { margin: 5px 0 0; font-size: 14px; color: rgba(0, 0, 0, .5); font-weight: 500; text-transform: uppercase; }
.location_pop address { margin: 25px 0 0; line-height: 25px; font-size: 14px; color: #313131; font-weight: 500; text-align: right; font-style: normal; }
.location_pop address a { display: inline-block; margin: 0 0 0 12px; width: 25px; height: 25px; background: url(../img/sub/about/location_icon.svg) no-repeat center; background-size: 100%; transition: all .3s; }
.location_pop address a:hover { opacity: .7; }

.location_pop ul { display: flex; flex-wrap: wrap; margin: 0 0 55px; }
.location_pop ul li { margin: 15px 0 0 2%; width: 32%; height: 250px; overflow: hidden; }
.location_pop ul li:nth-child(3n+1) { margin-left: 0; }
.location_pop ul li img { width: 100%; height: 100%; transition: all .3s; }
.location_pop ul li img:hover { transform: scale(1.1); }


/* cont 1 */
.cont_1 li:nth-child(1) { width: 40%; }
.cont_1 li:nth-child(2) { width: 36%; }
.cont_1 li:nth-child(3) { width: 20%; }

.cont_1 li:nth-child(10) { width: 28%; }
.cont_1 li:nth-child(11) { width: 46%; }
.cont_1 li:nth-child(12) { width: 22%; }

/* cont 2 */
.cont_2 li:nth-child(1) { width: 40%; }
.cont_2 li:nth-child(2) { width: 21%; }
.cont_2 li:nth-child(3) { width: 35%; }

.cont_2 li:nth-child(4) { width: 18%; }
.cont_2 li:nth-child(5) { width: 40%; }
.cont_2 li:nth-child(6) { width: 38%; }

.cont_2 li:nth-child(7) { width: 42%; }
.cont_2 li:nth-child(8) { width: 21%; }
.cont_2 li:nth-child(9) { width: 33%; }

.cont_2 li:nth-child(10) { width: 22%; }
.cont_2 li:nth-child(11) { width: 30%; }
.cont_2 li:nth-child(12) { width: 44%; }

/* cont 3 */
.cont_3 li:nth-child(2) { width: 40%; }
.cont_3 li:nth-child(3) { width: 24%; }

.cont_3 li:nth-child(4) { width: 34%; }
.cont_3 li:nth-child(5) { width: 44%; }
.cont_3 li:nth-child(6) { width: 18%; }

.cont_3 li:nth-child(7) { width: 40%; }
.cont_3 li:nth-child(8) { width: 34%; }
.cont_3 li:nth-child(9) { width: 22%; }

/* cont 3 */
.cont_4 li:nth-child(1) { width: 42%; }
.cont_4 li:nth-child(2) { width: 34%; }
.cont_4 li:nth-child(3) { width: 20%; }

.cont_4 li:nth-child(4) { width: 30%; }
.cont_4 li:nth-child(5) { width: 40%; }
.cont_4 li:nth-child(6) { width: 26%; }

.cont_4 li:nth-child(7) { width: 44%; }
.cont_4 li:nth-child(8) { width: 34%; }
.cont_4 li:nth-child(9) { width: 18%; }



@media (max-width: 1100px) {
    /*### tab contents ###*/
    .location .tabCont h4 { font-size: 18px; }

    .location .map_wrap > div { height: 375px; }
    .location .map_wrap > div:first-child { width: calc(55% - 2px); }
    .location .map_wrap > div:last-child { width: 45%; }
    .location .root_daum_roughmap .wrap_map { height: 375px !important; }

    .location .info h6 { font-size: 20px; }



    /*### popup ###*/
    .location_pop .cont_wrap { margin: 5vh auto 0; width: 90%; height: 90%; }
    .location_pop .tit h4 { font-size: 20px; }
   
    .location_pop ul li { height: 200px; }

}




@media (max-width: 767px) { 
    /*### tab menu ###*/
    .location .tabMenu { flex-wrap: wrap; }
    .location .tabMenu li { width: 50%; height: 50px; font-size: 14px; border: 1px solid #ccc; border-left: 0; border-top: 0; }
    .location .tabMenu li:first-child,
    .location .tabMenu li:nth-child(2) { border-top: 1px solid #ccc; }
    .location .tabMenu li:nth-child(3) { border-left: 1px solid #ccc; }

    /*### tab contents ###*/
    .location .map_wrap  { display: block; }
    .location .map_wrap > div { height: auto; }
    .location .map_wrap > div:first-child { width: 100%; height: 400px; }
    .location .map_wrap > div:last-child { width: 100%; height: auto; }
    .location .root_daum_roughmap .wrap_map { height: 400px !important; }

    .location .info address { font-size: 15px; }
    .location .info address span { display: block; }
    .location .tabCont > div:nth-child(3) .info address span { display: inline; }
    .location .info address a { margin: 0 0 0 8px; }
    .location .info button { position: relative; bottom: 0; display: block; margin: 30px auto 0; padding: 0 13px 0 6px; width: 55px; }




    /*### popup ###*/
    .location_pop .tit h4 { font-size: 18px; }
    .location_pop address { font-size: 14px; }
    .location_pop address span  { display: block; }
    .location_pop address a { margin: 0 0 0 8px; }
    
    .location_pop ul { display: flex; flex-wrap: wrap; margin: 10px 0 55px; }
    .location_pop ul li { margin: 8px 0 0 2%; width: 49% !important; height: 200px; }
    .location_pop ul li:nth-child(3n+1) { margin-left: 2%; }
    .location_pop ul li:nth-child(2n+1) { margin-left: 0; }

}



@media (max-width: 600px) {
    /*### popup ###*/
    .location_pop ul li { margin: 8px 0 0; width: 100% !important; height: auto; min-height: 200px; }
    .location_pop ul li:nth-child(3n+1) { margin-left: 0; }
}




@media (max-width: 424px) {
    /*### tab contents ###*/
    .location .info address { font-size: 14px; }



    /*### popup ###*/
    .location_pop address { font-size: 12px; }

    .location_pop ul li { min-height: 180px; }

}























