@charset "utf-8";
@import url(./common.css);





/*########## gesture ##########*/
/*### page 1 ###*/
header.on.gest_head { background: url(../img/sub/business/gesture_bg_1.jpg) no-repeat center top; background-size: cover; }

.gest_wrap .sub_title h3 { line-height: 25px; letter-spacing: 4.5px; }
.gest_wrap .sub_title h3 span { letter-spacing: 0; }
.gest_wrap .sub_title > div { font-size: 17px; letter-spacing: -0.5px; }
.gest_wrap .sub_title > div li:before { margin: 0 5px; }
.gest_wrap .sub_title > div li:last-child:after { content: ""; position: relative; top: -1px; display: inline-block; margin: 0 5px; width: 14px; height: 2px; background: #fff; vertical-align: middle; }

.gest_wrap #section_1 { background: url(../img/sub/business/gesture_bg_1.jpg) no-repeat center; background-size: cover; }
.gest_wrap #section_1 .cWrap { padding-bottom: 0; min-height: 80%; }

.gest_wrap #section_1 .cont_1 { position: relative; display: flex; flex-wrap: wrap; }
.gest_wrap #section_1 .cont_1:after { content: "gesture"; position: absolute; top: 50%; left: 50%; padding: 0 25px 0 0; font-size: 40px; color: #fff; font-weight: 700; text-transform: uppercase; background: url(../img/sub/business/comma_img.svg) no-repeat right 20px; transform: translate(-50%, -50%); }
.gest_wrap #section_1 .cont_1 > li { position: relative; padding: 35px 0 0; width: 50%; height: 275px; color: #fff; }
.gest_wrap #section_1 .cont_1 > li:before,
.gest_wrap #section_1 .cont_1 > li:after { content: ""; position: absolute; background: rgba(255, 255, 255, .2); }
.gest_wrap #section_1 .cont_1 > li:first-child:before { top: 0; right: 0; width: 1px; height: 80%; }
.gest_wrap #section_1 .cont_1 > li:first-child:after { bottom: 0; left: 0; width: 50%; height: 1px; }
.gest_wrap #section_1 .cont_1 > li:last-child:before { top: 0; right: 0; width: 50%; height: 1px; }
.gest_wrap #section_1 .cont_1 > li:last-child:after { bottom: 0; left: 0; width: 1px; height: 80%; }
.gest_wrap #section_1 .cont_1 > li:nth-child(2),
.gest_wrap #section_1 .cont_1 > li:nth-child(4) { text-align: right; }
.gest_wrap #section_1 .cont_1 h4 { margin: 0 0 10px; font-size: 25px; }
.gest_wrap #section_1 .cont_1 p { line-height: 26px; font-size: 18px; }
.gest_wrap #section_1 .cont_1 span { display: inline-block; padding: 0 3px; line-height: 19px; font-weight: 600; background: #5c8fd1; }
.gest_wrap #section_1 .cont_1 b { font-weight: 600; }
.gest_wrap #section_1 .cont_1 ul { display: inline-block; margin: 18px 0 0; width: 300px; }
.gest_wrap #section_1 .cont_1 ul:after { content: ""; display: block; clear: both; }
.gest_wrap #section_1 .cont_1 ul li { display: inline-block; padding: 0 10px; line-height: 24px; font-size: 14px; border: 1px solid #fff; border-radius: 200px; }
.gest_wrap #section_1 .cont_1 ul li:first-child { margin: 0 6px 0 0; }
.gest_wrap #section_1 .cont_1 ul li:last-child { margin: 6px 0 0; }


.gest_wrap #section_1 .wrap { margin: 0 auto; width: 100%; max-width: 1000px; }

/* logo image */
.gest_wrap #section_1 .gesture_logo { margin: 30px 0 0; background: rgba(0, 0, 0, .4); }
.gest_wrap #section_1 .gesture_logo ul { display: flex; align-items: center; justify-content: space-between; padding: 20px 0; }
.gest_wrap #section_1 .gesture_logo li { display: inline-flex; align-items: center; }
.gest_wrap #section_1 .gesture_logo li img { transition: all .3s; }
.gest_wrap #section_1 .gesture_logo li:hover img { transform: scale(1.2); }

/* footer  */
.gest_wrap #section_1 .gesture_footer { padding: 35px 0; background: #fff; }
.gest_wrap #section_1 .gesture_footer .wrap { display: flex; align-items: center; }
.gest_wrap #section_1 .gesture_footer h2 { width: 200px; line-height: 28px; font-size: 20px; color: #313131; font-weight: 600; letter-spacing: 0.5px; }
.gest_wrap #section_1 .gesture_footer h2 span { display: block; }
.gest_wrap #section_1 .gesture_footer h2 span:after { content: ""; position: relative; top: -2px; display: inline-block; margin: 0 0 0 8px; width: 24px; height: 2px; background: #313131; vertical-align: middle; }
.gest_wrap #section_1 .gesture_footer h2 i { word-spacing: 4px; font-style: normal; }
.gest_wrap #section_1 .gesture_footer p { padding: 0 0 0 30px; width: calc(100% - 200px); line-height: 24px; font-size: 16px; color: #313131; letter-spacing: 0.5px; }



/*### page 2 ###*/
.gest_wrap #section_2 { background: #e5e6ea;  }
.gest_wrap #section_2 .cWrap { padding-bottom: 0; }
.gest_wrap #section_2 .cWrap h3 { position: relative; font-size: 20px; color: #282828; font-weight: 500; text-align: center; text-transform: uppercase; }
.gest_wrap #section_2 .cWrap h3:after { content: ""; position: absolute; bottom: -10px; left: 50%; width: 24px; height: 2px; background: #282828; transform: translateX(-50%); }
.gest_wrap #section_2 .cWrap p { margin: 35px 0 0; padding: 20px 0; line-height: 28px; font-size: 20px; color: #f6f7fa; font-weight: 500; text-align: center; background: #146bbc; }

.gest_wrap #section_2 .wrap { margin: 100px auto 0; padding: 0 0 100px; width: 100%; max-width: 1000px; background:  url(../img/sub/business/gesture_bg_2.jpg) no-repeat center top; }

.gest_wrap #section_2 .cont { position: relative; top: 100px; opacity: 0; transition: all 1s; }
.gest_wrap #section_2 .cont.on { top: 0; opacity: 1; }


/* cont 1 */
.gest_wrap #section_2 .cont_1 { display: flex; align-items: center; justify-content: center; padding: 20px 0 17px; background: rgba(247, 248, 250, .8); border-radius: 200px; }
.gest_wrap #section_2 .cont_1 ul { display: flex; justify-content: center; flex-wrap: wrap; position: relative; margin: 0 0 0 40px; }
.gest_wrap #section_2 .cont_1 ul:before { position: absolute; top: -55px; left: 50%; font-size: 18px; color: #313131; font-weight: 500; transform: translateX(-50%); }
.gest_wrap #section_2 .cont_1 ul:nth-child(1):before { content: "사용자"; }
.gest_wrap #section_2 .cont_1 ul:nth-child(2):before { content: "장소"; }
.gest_wrap #section_2 .cont_1 ul:nth-child(3):before { content: "디바이스"; }
.gest_wrap #section_2 .cont_1 ul:first-child { margin: 0; }
.gest_wrap #section_2 .cont_1 li { margin: 0 0 0 15px; line-height: 22px; font-size: 12px; color: #313131; text-align: center; }
.gest_wrap #section_2 .cont_1 li:first-child { margin: 0; }
.gest_wrap #section_2 .cont_1 li img { display: block; margin: 0 0 5px; }

/* cont 2 */
.gest_wrap #section_2 .cont_2 { display: flex; align-items: center; justify-content: space-between; margin: 35px 0 0; transition-delay: 1s; }
.gest_wrap #section_2 .cont_2 h5 { font-size: 18px; color: #313131; font-weight: 500; text-align: center; }
.gest_wrap #section_2 .cont_2 ul { display: flex; align-items: center; justify-content: center; flex-wrap: wrap; margin: 10px 0 0; padding: 25px 0; width: 570px; background: rgba(247, 248, 250, .6); border-radius: 200px; }
.gest_wrap #section_2 .cont_2 > div:first-child ul { width: 370px; }
.gest_wrap #section_2 .cont_2 li { line-height: 22px; font-size: 16px; }
.gest_wrap #section_2 .cont_2 li:before { content: ""; position: relative; top: -2px; display: inline-block; margin: 0 13px; width: 15px; height: 15px; background: url(../img/sub/business/g_plus_icon.svg) no-repeat center; background-size: 100%; vertical-align: middle; }
.gest_wrap #section_2 .cont_2 li:first-child:before { display: none; }

/* cont 3 */
.gest_wrap #section_2 .cont_3 { margin: 50px 0 0; transition-delay: 2s; }
.gest_wrap #section_2 .cont_3 h4 { font-size: 20px; font-weight: 600; text-align: center; }
.gest_wrap #section_2 .cont_3 > p { margin: 15px 0 0; line-height: 22px; font-size: 15px; color: #313131; text-align: center; }
.gest_wrap #section_2 .cont_3 > p span { font-weight: 600; }
.gest_wrap #section_2 .cont_3 ul { display: flex; justify-content: space-between; margin: 50px 0 0; }
.gest_wrap #section_2 .cont_3 li { padding: 35px 0 0; width: 190px; height: 168px; font-size: 13px; color: #595959; text-align: center; background: rgba(247, 248, 250, .8); text-transform: uppercase; }
.gest_wrap #section_2 .cont_3 li span { font-weight: 500; }
.gest_wrap #section_2 .cont_3 li h5 { margin: 5px 0 10px; padding: 0 0 18px; line-height: 25px; font-size: 16px; color: #313131; background: url(../img/sub/business/g_arrow_icon.svg) no-repeat center bottom; }
.gest_wrap #section_2 .cont_3 li p { line-height: 18px; font-size: 13px; color: #313131; letter-spacing: -0.3px; }

/* cont 4 */
.gest_wrap #section_2 .cont_4 { margin: 45px 0 0; transition-delay: 3s; }
.gest_wrap #section_2 .cont_4 dl { display: flex; flex-wrap: wrap; }
.gest_wrap #section_2 .cont_4 dt { display: flex; align-items: center; justify-content: center; margin: 0 0 13px; width: 250px; min-height: 73px; font-size: 17px; color: #fff; font-weight: 600; background: #146bbc; }
.gest_wrap #section_2 .cont_4 dt:first-child { justify-content: left; padding: 0 0 0 43px; }
.gest_wrap #section_2 .cont_4 dt div { line-height: 24px; }
.gest_wrap #section_2 .cont_4 dd { margin: 0 0 13px 10px; padding: 0 20px; width: calc(100% - 260px); background: rgba(254, 254, 254, .6); }
.gest_wrap #section_2 .cont_4 ul { display: flex; align-items: center; justify-content: center; height: 100%; }
.gest_wrap #section_2 .cont_4 li { display: inline-flex; align-items: center; text-align: center; line-height: 25px; font-size: 15px; color: #313131; }
.gest_wrap #section_2 .cont_4 li:before { content: ""; display: inline-block; margin: 0 35px; width: 2px; height: 15px; background: #d8d8d8; }
.gest_wrap #section_2 .cont_4 dd:last-child li:before { margin: 0 25px; }
.gest_wrap #section_2 .cont_4 li:first-child:before { display: none; }

/* cont 5 */
.gest_wrap #section_2 .cont_5 { display: flex; justify-content: space-between; margin: 50px 0 0; transition-delay: 4s; }
.gest_wrap #section_2 .cont_5 > div { padding: 20px 30px 0; }
.gest_wrap #section_2 .cont_5 h4 { font-size: 18px; color: #313131; font-weight: 600; text-align: center; }

.gest_wrap #section_2 .cont_5 .left { position: relative; width: calc(46% - 70px); height: 230px; border: 2px dashed #146bbc; border-right: 0; }
.gest_wrap #section_2 .cont_5 .left:before { content: ""; position: absolute; top: 32px; right: -82px; width: 161px; height: 160px; border-right: 2px dashed #146bbc; border-bottom: 2px dashed #146bbc; transform: rotate(-45deg); }
.gest_wrap #section_2 .cont_5 .left p { margin: 25px 0 0; line-height: 28px; font-size: 16px; color: #313131; }

.gest_wrap #section_2 .cont_5 .right { position: relative; width: calc(54% - 65px); background: #146bbc; }
.gest_wrap #section_2 .cont_5 .right:before { content: ""; position: absolute; top: -81px; left: -81px; border: 81px solid transparent; border-right-color: #146bbc; transform: rotate(135deg); }
.gest_wrap #section_2 .cont_5 .right:after { content: ""; position: absolute; bottom: -81px; left: -81px; border: 81px solid transparent; border-left-color: #146bbc; transform: rotate(45deg); }
.gest_wrap #section_2 .cont_5 .right h4 { color: #fff; }
.gest_wrap #section_2 .cont_5 .right ul { display: flex; justify-content: space-between; margin: 20px 0 0; }
.gest_wrap #section_2 .cont_5 .right li { width: 220px; color: #fff; text-align: center; }
.gest_wrap #section_2 .cont_5 .right li:first-child { width: 155px; }
.gest_wrap #section_2 .cont_5 .right h6 { margin: 0 0 8px; line-height: 22px; font-size: 16px; font-weight: 500; text-align: center; }
.gest_wrap #section_2 .cont_5 .right p { display: inline-block; margin: 7px 0 0; padding: 0 10px; line-height: 28px; font-size: 14px; border: 1px solid #fff; border-radius: 100px; vertical-align: top; }

/* cont 6 */
.gest_wrap #section_2 .cont_6 { margin: 50px 0 0; text-align: center; transition-delay: 5s; }
.gest_wrap #section_2 .cont_6:before { content: "시스템 장비 구성"; font-size: 18px; color: #313131; font-weight: 600; }
.gest_wrap #section_2 .cont_6 ul { display: flex; justify-content: space-between; margin: 25px 0 20px; }
.gest_wrap #section_2 .cont_6 li { height: 200px; }
.gest_wrap #section_2 .cont_6 li.icon { display: flex; align-items: center; width: 44px; }
.gest_wrap #section_2 .cont_6 li.icon img { max-width: 100%; }
.gest_wrap #section_2 .cont_6 div { margin: 0 auto; padding: 145px 0 0; width: 155px; height: 100%; color: #fff; background: #146bbc url(../img/sub/business/g_systme_icon_2.svg) no-repeat center 40px; }
.gest_wrap #section_2 .cont_6 li:first-child div { background-image: url(../img/sub/business/g_system_icon_1.svg); background-position: center 55px; }
.gest_wrap #section_2 .cont_6 div span { display: block; line-height: 22px; font-size: 12px; font-weight: 600; }

/* cont 7 */
.gest_wrap #section_2 .cont_7 { margin: 70px 0 0; transition-delay: 6s; }
.gest_wrap #section_2 .cont_7:before { content: "외부연계"; display: block; font-size: 18px; color: #313131; font-weight: 600; text-align: center; }
.gest_wrap #section_2 .cont_7 ul { display: flex; align-items: center; justify-content: space-between; margin: 15px 0 0; padding: 20px; background: rgba(243, 244, 247, .6); }
.gest_wrap #section_2 .cont_7 li { display: inline-flex; align-items: center; }
.gest_wrap #section_2 .cont_7 li img { transition: all .3s; }
.gest_wrap #section_2 .cont_7 li:hover img { transform: scale(1.2); }


.gest_wrap #section_2 .info { display: flex; justify-content: end; margin: 10px 0 0; line-height: 20px; font-size: 13px; color: #146bbc; font-weight: 500; }





@media (max-width: 1100px) {
    /*### page 1 ###*/
    .gest_wrap .sub_title h3 { letter-spacing: 4px; }
    .gest_wrap .sub_title > div { font-size: 15px; }

    .gest_wrap #section_1 .cont_1:after { font-size: 35px; background-position: right 15px; }
    .gest_wrap #section_1 .cont_1 p { font-size: 16px; }

    .gest_wrap #section_1 .wrap { padding: 0 30px; }

    /* footer  */
    .gest_wrap #section_1 .gesture_footer p { padding: 0 0 0 25px; line-height: 22px; font-size: 15px; letter-spacing: 0.3px; word-break: keep-all; }




    /*### page 2 ###*/
    .gest_wrap #section_2 .cWrap { padding-left: 0; padding-right: 0; }
    .gest_wrap #section_2 .cWrap h3 { font-size: 20px; }
    .gest_wrap #section_2 .cWrap p { line-height: 26px; font-size: 18px; }

    .gest_wrap #section_2 .wrap { margin: 100px auto 0; padding: 0 30px 120px; background-size: 150%; background-repeat: repeat-y; }

    /* cont 2 */
    .gest_wrap #section_2 .cont_2 { display: block; margin: 50px 0 0; }
    .gest_wrap #section_2 .cont_2 > div:first-child { margin: 0 0 20px; }
    .gest_wrap #section_2 .cont_2 ul { padding: 25px 20px; width: 100%; }
    .gest_wrap #section_2 .cont_2 > div:first-child ul { width: 100%; }

    /* cont 3 */
    .gest_wrap #section_2 .cont_3 { margin: 80px 0 0; }
    .gest_wrap #section_2 .cont_3 h4 { font-size: 17px; }
    .gest_wrap #section_2 .cont_3 ul { justify-content: start; flex-wrap: wrap; margin: 30px 0 0; }
    .gest_wrap #section_2 .cont_3 li { margin: 0 0 20px 2%; padding: 35px 0 0; width: 32%; }
    .gest_wrap #section_2 .cont_3 li:nth-child(3n+1) { margin-left: 0; }

    /* cont 4 */
    .gest_wrap #section_2 .cont_4 ul { justify-content: start; flex-wrap: wrap; padding: 10px 0 0; }
    .gest_wrap #section_2 .cont_4 li { position: relative; margin: 0 0 10px; width: 33.333333333%; justify-content: center; }
    .gest_wrap #section_2 .cont_4 li:before { content: ""; position: absolute; top: 50%; left: -1px; margin: 0; transform: translateY(-50%); }
    .gest_wrap #section_2 .cont_4 dd:last-child li:before { margin: 0; }
    .gest_wrap #section_2 .cont_4 li:nth-child(3n+1):before { display: none; }

    /* cont 5 */
    .gest_wrap #section_2 .cont_5 { margin: 70px 0 0;}
    .gest_wrap #section_2 .cont_5 > div { padding: 20px 20px 0; }
    .gest_wrap #section_2 .cont_5 h4 { font-size: 17px; }

    .gest_wrap #section_2 .cont_5 .left { padding-right: 0; width: calc(43% - 70px); }
    .gest_wrap #section_2 .cont_5 .left p { line-height: 25px; font-size: 15px; letter-spacing: -0.5px; }

    .gest_wrap #section_2 .cont_5 .right { width: calc(57% - 65px); }
    .gest_wrap #section_2 .cont_5 .right li { width: 220px; color: #fff; text-align: center; }
    .gest_wrap #section_2 .cont_5 .right li:first-child { width: 155px; }
    .gest_wrap #section_2 .cont_5 .right h6 { font-size: 15px; }
    .gest_wrap #section_2 .cont_5 .right p { font-size: 12px; letter-spacing: -0.5px; }

    /* cont 6 */
    .gest_wrap #section_2 .cont_6 { margin: 70px 0 0; }
    .gest_wrap #section_2 .cont_6:before { font-size: 17px; }
    .gest_wrap #section_2 .cont_6 li.icon { width: 30px; }
    .gest_wrap #section_2 .cont_6 div { width: 150px; font-size: 15px; }

    /* cont 7 */
    .gest_wrap #section_2 .cont_7:before { font-size: 17px; }
    .gest_wrap #section_2 .cont_7 ul { display: block; padding: 20px 20px 5px; text-align: center; }
    .gest_wrap #section_2 .cont_7 li { display: inline-flex; margin: 0 15px 15px; vertical-align: middle; }

}

@media (max-width: 820px) {
    /*### page 1 ###*/
    .gest_wrap .sub_title > div { margin: 10px 0 0; }

    .gest_wrap #section_1 .wrap { padding: 0 25px; }

    /* logo image */
    .gest_wrap #section_1 .gesture_logo ul { display: block; padding: 20px 0 5px; text-align: center; }
    .gest_wrap #section_1 .gesture_logo li { display: inline-flex; margin: 0 15px 15px; align-items: center; vertical-align: middle; }

    /* footer  */
    .gest_wrap #section_1 .gesture_footer .wrap { display: block; }
    .gest_wrap #section_1 .gesture_footer h2 { width: 100%; }
    .gest_wrap #section_1 .gesture_footer p { margin: 10px 0 0; padding: 0; width: 100%; }




    /*### page 2 ###*/
    .gest_wrap #section_2 .wrap { padding: 0 25px 120px; }

    /* cont 5 */
    .gest_wrap #section_2 .cont_5 .left p { font-size: 14px; }

    .gest_wrap #section_2 .cont_5 .right p { letter-spacing: -0.7px; }

    /* cont 6 */
    .gest_wrap #section_2 .cont_6 li.icon { width: 20px; }


}

@media (max-width: 767px) {
    /*### page 1 ###*/
    .gest_wrap #section_1 .cont_1:after { display: none; }
    .gest_wrap #section_1 .cont_1 > li { margin: 60px 0 0; padding: 0; width: 100%; height: auto;  }
    .gest_wrap #section_1 .cont_1 > li:first-child { margin: 20px 0 0; }
    .gest_wrap #section_1 .cont_1 > li:before,
    .gest_wrap #section_1 .cont_1 > li:after { display: none; }

    .gest_wrap #section_1 .wrap { padding: 0 20px; }

    /* logo image */
    .gest_wrap #section_1 .gesture_logo { margin: 60px 0 0; }
    .gest_wrap #section_1 .gesture_logo li { margin: 0 10px 15px; }

    /* footer  */
    .gest_wrap #section_1 .gesture_footer h2 { line-height: 25px; font-size: 18px; }





    /*### page 2 ###*/
    .gest_wrap #section_2 .cWrap h3 { font-size: 18px; }
    .gest_wrap #section_2 .cWrap p { display: flex; justify-content: center; padding: 20px; font-size: 16px; text-align: left; word-break: keep-all; }

    .gest_wrap #section_2 .wrap { margin-top: 50px; padding: 0 20px 100px; }

    /* cont 1 */
    .gest_wrap #section_2 .cont_1 { display: block; padding: 20px 0 17px; border-radius: 0; }
    .gest_wrap #section_2 .cont_1 ul { justify-content: start; flex-wrap: wrap; margin: 20px 0 0;  width: 100%; }
    .gest_wrap #section_2 .cont_1 ul:before { position: static; display: flex; align-items: center; padding: 0 0 0 20px; width: 80px; font-size: 16px; transform: none; }

    /* cont 2 */
    .gest_wrap #section_2 .cont_2 ul { margin: 15px 0 0; padding: 20px 30px 10px; border-radius: 0; }
    .gest_wrap #section_2 .cont_2 li { margin: 0 0 10px; font-size: 15px; }
    .gest_wrap #section_2 .cont_2 li:before { margin: 0 8px; }

    /* cont 3 */
    .gest_wrap #section_2 .cont_3 { margin: 60px 0 0; text-align: center; }
    .gest_wrap #section_2 .cont_3 > p { display: inline-block; text-align: left; word-break: keep-all; }
    .gest_wrap #section_2 .cont_3 li { margin: 0 0 20px 4%; padding: 35px 0 0; width: 48%; }
    .gest_wrap #section_2 .cont_3 li:nth-child(3n+1) { margin-left: 4%; }
    .gest_wrap #section_2 .cont_3 li:nth-child(2n+1) { margin-left: 0; }

    /* cont 4 */
    .gest_wrap #section_2 .cont_4 dt { padding: 0 10px; width: 130px; line-height: 22px; font-size: 15px; text-align: center; letter-spacing: -0.3px; word-break: keep-all; }
    .gest_wrap #section_2 .cont_4 dt:first-child { justify-content: center; padding: 0; }
    .gest_wrap #section_2 .cont_4 dd { padding: 0; width: calc(100% - 140px); }
    .gest_wrap #section_2 .cont_4 ul { padding: 15px 0 0; }
    .gest_wrap #section_2 .cont_4 li { margin: 0 0 15px; width: 50%; font-size: 13px; letter-spacing: -0.5px; }
    .gest_wrap #section_2 .cont_4 li:nth-child(3n+1):before { display: inline-block; }
    .gest_wrap #section_2 .cont_4 li:nth-child(2n+1):before { display: none; }


    /* cont 5 */
    .gest_wrap #section_2 .cont_5 { display: block; }
    .gest_wrap #section_2 .cont_5 > div { padding: 25px; }
    .gest_wrap #section_2 .cont_5 h4 { font-size: 17px; }

    .gest_wrap #section_2 .cont_5 .left { padding-right: 20px; width: 100%; height: auto; border-right: 2px dashed #146bbc; }
    .gest_wrap #section_2 .cont_5 .left:before { display: none; }
    .gest_wrap #section_2 .cont_5 .left p { text-align: center; letter-spacing: 0; }

    .gest_wrap #section_2 .cont_5 .right { margin: 20px 0 0; width: 100%; height: auto; }
    .gest_wrap #section_2 .cont_5 .right:before,
    .gest_wrap #section_2 .cont_5 .right:after { display: none; }
    .gest_wrap #section_2 .cont_5 .right ul { display: block; }
    .gest_wrap #section_2 .cont_5 .right li { margin: 30px auto 0; width: 100%; }
    .gest_wrap #section_2 .cont_5 .right li:first-child { margin-top: 0; width: 100%; }
    .gest_wrap #section_2 .cont_5 .right h6 { margin: 0 0 7px; }
    .gest_wrap #section_2 .cont_5 .right p { margin: 3px 7px; font-size: 14px; letter-spacing: 0; }

    /* cont 6 */
    .gest_wrap #section_2 .cont_6 { margin: 70px 0 0; }
    .gest_wrap #section_2 .cont_6 ul { flex-wrap: wrap; }
    .gest_wrap #section_2 .cont_6 li { margin: 15px 0 0; width: 40%; height: 180px; }
    .gest_wrap #section_2 .cont_6 li.icon { width: 35px; }
    .gest_wrap #section_2 .cont_6 li.icon.center { display: none; }
    .gest_wrap #section_2 .cont_6 div { padding: 125px 0 0; width: 100%; max-width: 160px; font-size: 14px; background-position: center 25px; }
    .gest_wrap #section_2 .cont_6 li:first-child div { background-position: center 45px; }


}


@media (max-width: 424px) {
    /*### page 2 ###*/
    .gest_wrap #section_2 .cWrap p { line-height: 24px; font-size: 14px; }


    /* cont 1 */
    .gest_wrap #section_2 .cont_1 ul:before { width: 70px; font-size: 14px; }
    .gest_wrap #section_2 .cont_1 li { margin: 0 0 0 10px; }
    .gest_wrap #section_2 .cont_1 li img { max-width: 38px; }


    /* cont 2 */
    .gest_wrap #section_2 .cont_2 ul { margin: 10px 0 0; padding: 15px 30px 10px; }
    .gest_wrap #section_2 .cont_2 li { margin: 0 0 5px; font-size: 14px; }

    /* cont 3 */
    .gest_wrap #section_2 .cont_3 { margin: 60px 0 0; text-align: center; }
    .gest_wrap #section_2 .cont_3 li { margin: 0 0 20px; padding: 25px 0; width: 100%; height: auto; }
    .gest_wrap #section_2 .cont_3 li:nth-child(3n+1) { margin-left: 0; }
    .gest_wrap #section_2 .cont_3 li p { font-size: 13px; letter-spacing: 0; }

    /* cont 4 */
    .gest_wrap #section_2 .cont_4 dt { width: 110px; line-height: 20px; font-size: 13px; }
    .gest_wrap #section_2 .cont_4 dd { width: calc(100% - 120px); }

}   
















/*########## aiger ##########*/
/*### page 1 ###*/
.aiger_wrap #section_1 .sub_title h3 { line-height: 25px; letter-spacing: 4px; }
.aiger_wrap #section_1 .sub_title h3 span { width: 200px; letter-spacing: -0.3px; }

.aiger_wrap #section_1 h4 { position: relative; padding: 0 0 10px; font-size: 20px; color: #282828; font-weight: 500; text-transform: uppercase; }
.aiger_wrap #section_1 h4:after { content: ""; position: absolute; bottom: 0; left: 0; width: 24px; height: 2px; background: #282828; }

.aiger_wrap #section_1 ul { display: flex; align-items: center; justify-content: space-between; margin: 25px 0 0; }
.aiger_wrap #section_1 li { position: relative; opacity: 0; transition: all 1s; }
.aiger_wrap #section_1 li:nth-child(1) { left: -100px; }
.aiger_wrap #section_1 li:nth-child(2) { left: -50px; transition-delay: 1s; }
.aiger_wrap #section_1 li:nth-child(3) { left: 100px; transition-delay: 2s; }
.aiger_wrap #section_1 li.arrow { display: inline-flex; align-items: center; justify-content: center; width: 50px; }
.aiger_wrap #section_1 li.arrow:before { content: ""; position: relative; left: -10px; width: 37px; height: 37px; border-right: 2px solid #282828; border-bottom: 2px solid #282828; transform: rotate(-45deg); }
.aiger_wrap #section_1 li img { width: 100%; }
.aiger_wrap #section_1 li div { display: flex; align-items: center; justify-content: space-between; position: absolute; bottom: 0; left: 0; padding: 0 15px; width: 100%; height: 60px; color: #fff; background: linear-gradient(90deg, #001D6B, #001D6B, transparent); }
.aiger_wrap #section_1 li:first-child div { background: linear-gradient(-90deg, #352B21, rgba(39, 38, 38, .1)); }
.aiger_wrap #section_1 li h6 { font-size: 17px; font-weight: 500; }
.aiger_wrap #section_1 li span { font-size: 14px; font-weight: 500; }

.aiger_wrap #section_1 li.on { opacity: 1; left: 0; }

/* footer */
.aiger_wrap .footer_1 { display: flex; align-items: start; position: relative; top: 50px; margin: 45px 0 0; opacity: 0; transition: all 1s 3s; }
.aiger_wrap .footer_1 h6 { display: flex; align-items: center; padding: 7px 0 0; width: 330px; font-size: 20px; color: #282828; font-weight: 500; }
.aiger_wrap .footer_1 h6:after { content: ""; display: inline-block; margin: 0 0 0 13px; width: 24px; height: 2px; background: #313131; }
.aiger_wrap .footer_1 p { padding: 0 0 0 30px; width: calc(100% - 330px); line-height: 24px; font-size: 16px; color: #313131; word-break: keep-all; }

.aiger_wrap .footer_1.on { top: 0; opacity: 1; }



/*### page 2 ###*/
.aiger_wrap #section_2 .sub_title { border: 0; }
.aiger_wrap #section_2 .sub_title h3 { padding: 0; width: 210px; line-height: 28px; font-size: 20px; font-weight: 500; background: none; }
.aiger_wrap #section_2 .sub_title h3 i { display: flex; align-items: center; font-weight: 500; }
.aiger_wrap #section_2 .sub_title h3 i:after { content: ""; display: block; margin: 0 0 0 10px; width: 24px; height: 2px; background: #282828; vertical-align: middle; }
.aiger_wrap #section_2 .sub_title div { width: calc(100% - 250px); font-size: 16px; }

.aiger_wrap #section_2 h6 { line-height: 28px; font-size: 18px; color: #313131; font-weight: 500; }


.aiger_wrap #section_2 .cont { position: relative; top: 100px; opacity: 0; transition: all 1s; }
.aiger_wrap #section_2 .cont.on { top: 0; opacity: 1; }

/* cont 1 */
.aiger_wrap #section_2 .cont_1 ul { display: flex; align-items: start; justify-content: space-between; }
.aiger_wrap #section_2 .cont_1 li { position: relative; text-align: center; color: #313131; font-weight: 500; }
.aiger_wrap #section_2 .cont_1 li:nth-child(1) { width: 200px; padding: 0 0 210px; background: url(../img/sub/business/aiger_2_a.svg) no-repeat center bottom; }
.aiger_wrap #section_2 .cont_1 li:nth-child(1):after { content: ""; position: absolute; top: 80px; right: -70px; width: 30px; height: 30px; background: url(../img/sub/title_x.svg) no-repeat center; background-size: 100%; transform: rotate(45deg); z-index: 9; }
.aiger_wrap #section_2 .cont_1 li:nth-child(2) { margin: 40px 0 0; padding: 25px 50px; background: linear-gradient(150deg, #CEDBEF, #F4F7FC); border-radius: 300px; }
.aiger_wrap #section_2 .cont_1 li:nth-child(3) { width: 200px; padding: 0 0 200px; background: url(../img/sub/business/aiger_2_b.svg) no-repeat center bottom; }
.aiger_wrap #section_2 .cont_1 li:nth-child(3):before { content: ""; position: absolute; top: 80px; left: -70px; width: 30px; height: 30px; background: url(../img/sub/title_x.svg) no-repeat center; background-size: 100%; transform: rotate(45deg); }
.aiger_wrap #section_2 .cont_1 span { display: block; font-size: 14px; color: #939393; }
.aiger_wrap #section_2 .cont_1 h4 { font-size: 23px; font-weight: 500; }
.aiger_wrap #section_2 .cont_1 p { display: flex; align-items: center; justify-content: center; margin: 8px 0 0; font-size: 17px; color: #767676; }
.aiger_wrap #section_2 .cont_1 p img { margin: 0 10px; width: 17px; }

/* cont 2 */
.aiger_wrap #section_2 .cont_2 { position: relative; margin: 20px 0 0; padding: 220px 0 0; text-align: center; background: url(../img/sub/business/aiger_2_1.svg) no-repeat center top; transition-delay: 1s; }
.aiger_wrap #section_2 .cont_2:before { content: ""; position: absolute; top: -60px; left: 50%; width: 30px; height: 30px; background: url(../img/sub/title_x.svg) no-repeat center; background-size: 100%; transform: rotate(45deg) translateX(-50%); }
.aiger_wrap #section_2 .cont_2 h6 { line-height: 22px; }
.aiger_wrap #section_2 .cont_2 span { display: block; line-height: 22px; font-size: 14px; color: #939393; font-weight: 500; }

/* cont 3 */
.aiger_wrap #section_2 .cont_3 { margin: 30px 0 0; transition-delay: 2s; }
.aiger_wrap #section_2 .cont_3 ul { position: relative; display: flex; justify-content: center; flex-wrap: wrap; }
.aiger_wrap #section_2 .cont_3 ul:before { content: ""; position: relative; top: 40px; display: block; width: 34px; height: 32px; background: url(../img/sub/business/aiger_2_icon.svg) no-repeat center; background-size: 100%; transform: rotate(180deg); }
.aiger_wrap #section_2 .cont_3 ul:after { content: ""; position: absolute; top: 435px; left: 50%; width: 34px; height: 32px; background: url(../img/sub/business/aiger_2_icon.svg) no-repeat center; background-size: 100%; transform: translateX(-50%); }
.aiger_wrap #section_2 .cont_3 li { text-align: center; }
.aiger_wrap #section_2 .cont_3 li:nth-child(1) { position: relative; top: 50px; width: 100%; }
.aiger_wrap #section_2 .cont_3 li:nth-child(2) { margin-right: 50px; }

/* footer */
.aiger_wrap .footer_2 { display: flex; position: relative; top: 50px; margin: 80px 0 0; opacity: 0; transition: all 1s 3s; }
.aiger_wrap .footer_2 h6 { line-height: 30px; width: 260px; font-size: 20px; color: #282828; font-weight: 500; letter-spacing: -0.5px; }
.aiger_wrap .footer_2 h6 span { display: inline-flex; align-items: center; font-size: 14px; vertical-align: top; }
.aiger_wrap .footer_2 h6 span:before { content: ""; display: block; margin: 0 8px; width: 2px; height: 15px; background: #cdcdcd; }
.aiger_wrap .footer_2 h6 i { margin: 0 0 0 4px; font-size: 12px; color: #939393; font-style: normal; text-transform: uppercase; }
.aiger_wrap .footer_2 div { width: calc(100% - 260px); }
.aiger_wrap .footer_2 div p { line-height: 24px; font-size: 15px; color: #313131; }
.aiger_wrap .footer_2 div span { background: rgba(167, 207, 255, .3); }
.aiger_wrap .footer_2 div i { font-weight: 600; font-style: normal; }
.aiger_wrap .footer_2 div u { font-size: 12px; text-decoration: none; }

.aiger_wrap .footer_2.on { top: 0; opacity: 1; }




/*### page 3 ###*/
.aiger_wrap #section_3 .tit h3 { display: flex; align-items: center; justify-content: center; position: relative; line-height: 28px; font-size: 20px; color: #000; font-weight: 500; }
.aiger_wrap #section_3 .tit h3:before,
.aiger_wrap #section_3 .tit h3:after { content: ""; display: block; width: 24px; height: 2px; background: #282828; }
.aiger_wrap #section_3 .tit h3:before { margin: 0 10px 0 0; }
.aiger_wrap #section_3 .tit h3:after { margin: 0 0 0 10px; }
.aiger_wrap #section_3 .tit p { margin: 15px auto 0; max-width: 800px; line-height: 24px; font-size: 16px; color: #313131; letter-spacing: -0.4px; }

.aiger_wrap #section_3 .cont { position: relative; top: 100px; opacity: 0; transition: all 1s; }
.aiger_wrap #section_3 .cont.on { top: 0; opacity: 1; }

/* cont 1 */
.aiger_wrap #section_3 .cont_1 { margin: 50px 0 0; }
.aiger_wrap #section_3 .cont_1 ul { display: flex; flex-wrap: wrap; }
.aiger_wrap #section_3 .cont_1 li { display: flex; align-items: center; justify-content: center; padding: 0 55px; width: 50%; height: 370px; background: #f8f9fd; }
.aiger_wrap #section_3 .cont_1 li:nth-child(3) { order: 4; }
.aiger_wrap #section_3 .cont_1 li:nth-child(1),
.aiger_wrap #section_3 .cont_1 li:nth-child(3) { padding: 0 20px; background: #fff; }
.aiger_wrap #section_3 .cont_1 img { max-width: 100%; }
.aiger_wrap #section_3 .cont_1 dt { margin: 0 0 15px; font-size: 20px; color: #313131; font-weight: 500; text-align: center; }
.aiger_wrap #section_3 .cont_1 dd { margin: 20px 0 0; padding: 0 0 0 25px; line-height: 20px; font-size: 16px; color: #000; letter-spacing: -0.3px; background: url(../img/sub/business/aiger_3_plus_icon.svg) no-repeat left 1px; }
.aiger_wrap #section_3 .cont_1 li:nth-child(2) dd { max-width: 350px; }
.aiger_wrap #section_3 .cont_1 dd span { display: block; }

/* cont 2 */
.aiger_wrap #section_3 .cont_2 { margin: 70px 0 0; transition-delay: 1s; }
.aiger_wrap #section_3 .cont_2 h4 { line-height: 24px; font-size: 20px; color: #313131; font-weight: 500; text-align: center; }

.aiger_wrap #section_3 .cont_2 .top { display: flex; align-items: center; justify-content: space-around; }
.aiger_wrap #section_3 .cont_2 .top li { line-height: 24px; font-size: 18px; color: #313131; font-weight: 500; }
.aiger_wrap #section_3 .cont_2 .top li:nth-child(3) { font-size: 20px; }
.aiger_wrap #section_3 .cont_2 .top li:first-child,
.aiger_wrap #section_3 .cont_2 .top li:last-child { padding: 90px 0 0; width: 213px; height: 245px; text-align: center; background: url(../img/sub/business/aiger_3_polygon.svg) no-repeat center; background-size: cover; }
.aiger_wrap #section_3 .cont_2 .top li.icon { width: 19px; height: 19px; }
.aiger_wrap #section_3 .cont_2 .top li.icon img { width: 100%; transform: rotate(45deg); }
.aiger_wrap #section_3 .cont_2 .top li span { display: block; width: 100%; font-weight: 600; }

.aiger_wrap #section_3 .cont_2 .bot { display: flex; justify-content: space-around; margin: 50px 0 0; }
.aiger_wrap #section_3 .cont_2 .bot p { padding: 0 0 0 25px; line-height: 30px; font-size: 16px; color: #313131; font-weight: 500; background: url(../img/sub/business/aiger_3_plus_icon.svg) no-repeat left center; }




/*### page 4 ###*/
.aiger_wrap #section_4 .tit h3 { display: flex; align-items: center; font-size: 20px; color: #313131; font-weight: 500; }
.aiger_wrap #section_4 .tit h3:after { content: ""; display: block; margin: 0 0 0 8px; width: 24px; height: 2px; background: #282828; }
.aiger_wrap #section_4 .tit ul { margin: 20px 0 0; }
.aiger_wrap #section_4 .tit li { margin: 10px 0 0; padding: 0 0 0 25px; line-height: 25px; font-size: 16px; color: #313131; background: url(../img/sub/business/aiger_3_plus_icon.svg) no-repeat left 3px; }

.aiger_wrap table { position: relative; top: 100px; margin: 75px 0 0; opacity: 0; transition: all 1s; }
.aiger_wrap table:after { content: ""; position: absolute; top: -10px; right: 5px; width: 150px; height: calc(100% + 20px); border: 1px solid #313131; }
.aiger_wrap thead tr { border-bottom: 3px solid #fff; }
.aiger_wrap thead th { padding: 15px; line-height: 20px; font-size: 16px; color: #fff; font-weight: 500; background: #1d4a90; }
.aiger_wrap thead th:last-child { width: 160px; }
.aiger_wrap thead th i { display: block; font-size: 12px; color: #9fc5ff; font-weight: 500; text-transform: uppercase; font-style: normal; }
.aiger_wrap tbody tr { border-top: 3px solid #fff; border-bottom: 3px solid #fff; background: #f8f9fd; }
.aiger_wrap tbody tr:nth-child(even) { background: #fbfbfb; }
.aiger_wrap tbody td { padding: 20px 10px; line-height: 20px; font-size: 16px; color: #313131; font-weight: 500; text-align: center; }
.aiger_wrap tbody td img { vertical-align: middle; }
.aiger_wrap tbody td:first-child { text-align: left; }
.aiger_wrap tbody td i { display: block; line-height: 20px; font-size: 12px; color: #939393; font-weight: 500; font-style: normal; }
.aiger_wrap tbody td i u { text-decoration: none; }

.aiger_wrap table.on { top: 0; opacity: 1; }




@media (max-width: 1100px) {
    /*### page 1 ###*/
    .aiger_wrap #section_1 ul { margin: 10vh 0 0; }
    .aiger_wrap #section_1 li { width: 45%; }

    .aiger_wrap .footer_1 { display: block; margin: 10vh 0 0; }
    .aiger_wrap .footer_1 h6 { padding: 0; width: 100%; }
    .aiger_wrap .footer_1 p { margin: 10px 0 0; padding: 0; width: 100%; }




    /*### page 2 ###*/
    .aiger_wrap #section_2 .sub_title div { word-break: keep-all; }
    
    /* cont 1 */
    .aiger_wrap #section_2 .cont_1 ul { position: relative; display: block; margin: 0 0 370px; text-align: center; }
    .aiger_wrap #section_2 .cont_1 li:nth-child(1) { position: absolute; top: 160px; left: 50%; transform: translateX(-300px); }
    .aiger_wrap #section_2 .cont_1 li:nth-child(1):after { top: -50px; left: 50%; right: auto; transform: rotate(45deg) translateX(-50%); }
    .aiger_wrap #section_2 .cont_1 li:nth-child(2) { margin: 0; display: inline-block; }
    .aiger_wrap #section_2 .cont_1 li:nth-child(3) { position: absolute; top: 160px; right: 50%; transform: translateX(290px); }
    .aiger_wrap #section_2 .cont_1 li:nth-child(3):before { top: -50px; left: 50%; transform: rotate(45deg) translateX(-50%); }
    .aiger_wrap #section_2 .cont_1 h4 { font-size: 20px; }
    .aiger_wrap #section_2 .cont_1 p { font-size: 16px; }
 
    /* cont 2 */
    .aiger_wrap #section_2 .cont_2 { margin: 0; }
    .aiger_wrap #section_2 .cont_2:before { top: -70px; }

    /* footer */
    .aiger_wrap .footer_2 { display: block; margin: 10vh 0 0; }
    .aiger_wrap .footer_2 h6 { width: 100%; }
    .aiger_wrap .footer_2 h6 i { font-size: 13px; }
    .aiger_wrap .footer_2 div { width: 100% }
    .aiger_wrap .footer_2 div p { margin: 15px 0 0; }
    .aiger_wrap .footer_2 div u { font-size: 13px; }





   /*### page 3 ###*/
   .aiger_wrap #section_3 .tit h3 { font-size: 18px; letter-spacing: -0.3px; }
   .aiger_wrap #section_3 .tit p { font-size: 15px; }

    /* cont 1 */
    .aiger_wrap #section_3 .cont_1 li { padding: 0 27px; height: 370px; }
    .aiger_wrap #section_3 .cont_1 dt { font-size: 18px; }
    .aiger_wrap #section_3 .cont_1 dd { font-size: 15px; }
    .aiger_wrap #section_3 .cont_1 li:nth-child(2) dd { max-width: 350px; }
    .aiger_wrap #section_3 .cont_1 dd span { display: block; }

    /* cont 2 */
    .aiger_wrap #section_3 .cont_2 h4 {  font-size: 18px; }

    .aiger_wrap #section_3 .cont_2 .top li:nth-child(3) { font-size: 18px; }
    .aiger_wrap #section_3 .cont_2 .top li:first-child,
    .aiger_wrap #section_3 .cont_2 .top li:last-child { padding: 85px 0 0; width: 200px; height: 230px; }

    .aiger_wrap #section_3 .cont_2 .bot p { font-size: 15px; letter-spacing: -0.3px; }




    /*### page 4 ###*/
    .aiger_wrap #section_4 .tit h3 { font-size: 18px; }
    .aiger_wrap #section_4 .tit li { margin: 6px 0 0; font-size: 15px; }

    .aiger_wrap table { margin: 50px 0 0; }
    .aiger_wrap table:after { right: 10px; width: 130px; }
    .aiger_wrap thead tr { border-bottom-width: 8px; }
    .aiger_wrap thead th { padding: 15px; font-size: 16px; }
    .aiger_wrap thead th:last-child { width: 150px; }
    .aiger_wrap tbody tr { border-top-width: 8px; border-bottom-width: 8px; }
    .aiger_wrap tbody td { padding: 20px 10px; }





}


@media (max-width: 820px) {
    /*### page 1 ###*/
    .aiger_wrap .footer_1 h6 { font-size: 18px; }
    .aiger_wrap .footer_1 p { font-size: 15px; }




    /*### page 2 ###*/
    .aiger_wrap #section_2 .sub_title h3 { width: 100%; font-size: 18px; }
    .aiger_wrap #section_2 .sub_title div { width: 100%; font-size: 15px; }




     /*### page 3 ###*/
     .aiger_wrap #section_3 .tit h3 { display: block; padding: 0 35px; }
     .aiger_wrap #section_3 .tit h3:before,
     .aiger_wrap #section_3 .tit h3:after { content: ""; position: absolute; top: 50%; transform: translateY(-50%); }
     .aiger_wrap #section_3 .tit h3:before { left: 0; margin: 0; }
     .aiger_wrap #section_3 .tit h3:after { right: 0; margin: 0; }

     /* cont 1 */
    .aiger_wrap #section_3 .cont_1 li { padding: 0 27px; height: 370px; }
    .aiger_wrap #section_3 .cont_1 dt { font-size: 18px; }
    .aiger_wrap #section_3 .cont_1 dd { font-size: 15px; }
    .aiger_wrap #section_3 .cont_1 li:nth-child(2) dd { max-width: 350px; }
    .aiger_wrap #section_3 .cont_1 dd span { display: block; }




    /*### page 4 ###*/
    .aiger_wrap thead th span { display: block; }

}




@media (max-width: 767px) {
    /*### page 1 ###*/
    .aiger_wrap #section_1 h4 { font-size: 18px; }

    .aiger_wrap #section_1 ul { flex-direction: column; justify-content: center; margin: 5vh 0 0; }
    .aiger_wrap #section_1 li { width: 100%; max-width: 400px; }
    .aiger_wrap #section_1 li:nth-child(2) { left: 0; top: -50px; }
    .aiger_wrap #section_1 li.arrow { margin: 20px 0; width: 100%; height: 100px; }
    .aiger_wrap #section_1 li.arrow:before { top: -10px; left: 0; transform: rotate(45deg); }
    .aiger_wrap #section_1 li h6 { font-size: 16px; }

    .aiger_wrap #section_1 li.on { top: 0; }

    .aiger_wrap .footer_1 { margin: 13vh 0 0; }





    /*### page 2 ###*/
    .aiger_wrap #section_2 .sub_title h3 { font-size: 17px; }
    .aiger_wrap #section_2 .sub_title div { font-size: 14px; }

    .aiger_wrap #section_2 h6 { line-height: 24px; font-size: 16px; }

    /* cont 1 */
    .aiger_wrap #section_2 .cont_1 ul { margin: 0 0 350px; }
    .aiger_wrap #section_2 .cont_1 li:nth-child(1) { padding: 0 0 190px; width: 130px; left: 0; background-size: 100%; transform: none; }
    .aiger_wrap #section_2 .cont_1 li:nth-child(1):after { top: -40px; width: 25px; height: 25px; }
    .aiger_wrap #section_2 .cont_1 li:nth-child(2) { padding: 20px 40px; }
    .aiger_wrap #section_2 .cont_1 li:nth-child(3) { padding: 0 0 170px; width: 130px; right: 0; background-size: 100%; transform: none; }
    .aiger_wrap #section_2 .cont_1 li:nth-child(3):before { top: -40px; width: 25px; height: 25px; }
    .aiger_wrap #section_2 .cont_1 h4 { font-size: 18px; }
    .aiger_wrap #section_2 .cont_1 p { font-size: 14px; }

    /* cont 2 */
    .aiger_wrap #section_2 .cont_2:before { top: -50px; }

    /* cont 3 */
    .aiger_wrap #section_2 .cont_3 { margin: 80px 0 0; }
    .aiger_wrap #section_2 .cont_3 ul { display: block; }
    .aiger_wrap #section_2 .cont_3 ul:before { top: 0; margin: 0 auto 10px; }
    .aiger_wrap #section_2 .cont_3 ul:after { position: static; display: block; margin: 10px auto 0; transform: none; }
    .aiger_wrap #section_2 .cont_3 li { margin: 20px 0 0; }
    .aiger_wrap #section_2 .cont_3 li:nth-child(1) { top: 0; margin: 0; }
    .aiger_wrap #section_2 .cont_3 li:nth-child(2) { margin-right: 0; }

    /* footer */
    .aiger_wrap .footer_2 h6 span { display: flex; }
    .aiger_wrap .footer_2 h6 span:before { margin-left: 0; }




    /*### page 3 ###*/
    .aiger_wrap #section_3 .tit h3 { font-size: 17px; text-align: center; word-break: keep-all; }
    .aiger_wrap #section_3 .tit p { line-height: 22px; }
    
    /* cont 1 */
    .aiger_wrap #section_3 .cont_1 { margin: 20px 0 0; }
    .aiger_wrap #section_3 .cont_1 ul { display: block; }
    .aiger_wrap #section_3 .cont_1 li { margin: 0 auto; padding: 50px 25px; width: 100%; max-width: 500px; height: auto; }
    .aiger_wrap #section_3 .cont_1 li:nth-child(1), 
    .aiger_wrap #section_3 .cont_1 li:nth-child(3) { padding: 30px 20px; }
    .aiger_wrap #section_3 .cont_1 dt { font-size: 17px; }
    .aiger_wrap #section_3 .cont_1 dd { font-size: 14px; word-break: keep-all; }

    /* cont 2 */
    .aiger_wrap #section_3 .cont_2 h4 { font-size: 17px; }

    .aiger_wrap #section_3 .cont_2 .top { display: block; margin: 40px 0 0; }
    .aiger_wrap #section_3 .cont_2 .top li { margin: 0 auto; text-align: center; }
    .aiger_wrap #section_3 .cont_2 .top li:nth-child(3) { font-size: 17px; }
    .aiger_wrap #section_3 .cont_2 .top li:first-child,
    .aiger_wrap #section_3 .cont_2 .top li:last-child { font-size: 17px; }
    .aiger_wrap #section_3 .cont_2 .top li.icon { margin: 35px auto; }

    .aiger_wrap #section_3 .cont_2 .bot { display: block; margin: 50px auto 0; width: 250px; }




    /*### page 4 ###*/
    .aiger_wrap #section_4 .tit h3 { font-size: 17px; }
    .aiger_wrap #section_4 .tit li { font-size: 14px; word-break: keep-all; }

    .aiger_wrap table:after { right: 5px; width: 80px; }
    .aiger_wrap thead th { padding: 15px 10px; font-size: 14px; letter-spacing: -0.5px; word-break: keep-all; }
    .aiger_wrap thead th:first-child { width: 110px; }
    .aiger_wrap thead th:last-child { width: 90px; }
    .aiger_wrap tbody td { font-size: 14px; }
    .aiger_wrap tbody td img { max-width: 26px; max-height: 26px; }
    .aiger_wrap tbody td:first-child { text-align: center; }
    .aiger_wrap tbody td span { display: block; }
    .aiger_wrap tbody td i { line-height: 18px; letter-spacing: -0.5px; }
    .aiger_wrap tbody td i u { display: block; }
    
}



@media (max-width: 424px) {
    /*### page 2 ###*/
    /* cont 2 */
    .aiger_wrap #section_2 .cont_2 { background-size: 100%; }




    /*### page 3 ###*/
    .aiger_wrap #section_3 .tit p { font-size: 14px; }

    /* cont 1 */
    .aiger_wrap #section_3 .cont_1 dd { font-size: 13px; }




    /*### page 4 ###*/
    .aiger_wrap #section_4 .tit li { line-height: 20px; font-size: 13px; background-position: left 1px; }

    .aiger_wrap thead th { padding: 12px 7px; line-height: 18px; font-size: 13px; }
    .aiger_wrap thead th:first-child { width: 105px; }
    .aiger_wrap tbody td { padding: 15px 7px; line-height: 18px; font-size: 13px; }
    .aiger_wrap tbody td img { max-width: 24px; }
    .aiger_wrap tbody td i { line-height: 16px; }
}










/*########## education ##########*/
/*### page 1 ###*/
.edu_wrap #section_1 .sub_title h3 { line-height: 30px; letter-spacing: 4px; }
.edu_wrap #section_1 .sub_title h3 span { width: 135px; letter-spacing: 0; }
.edu_wrap #section_1 .sub_title > div { font-size: 17px; }

.edu_wrap #section_1 .cont h4 { display: flex; align-items: center; font-size: 20px; color: #282828; font-weight: 500; }
.edu_wrap #section_1 .cont h4:after { content: ""; display: block; margin: 0 0 0 8px; width: 24px; height: 2px; background: #282828; }

.edu_wrap #section_1 .cont ul { display: flex; flex-wrap: wrap; margin: 35px 0 0; }
.edu_wrap #section_1 .cont li { margin: 0 0 25px 2%; width: 32%; }
.edu_wrap #section_1 .cont li:nth-child(3n+1) { margin-left: 0; }
.edu_wrap #section_1 .cont .img img { width: 100%; }
.edu_wrap #section_1 .cont .txt { margin: 20px 0 0; padding: 0 15px; }
.edu_wrap #section_1 .cont h6 { font-size: 18px; color: #313131; font-weight: 500; text-align: center;  }
.edu_wrap #section_1 .cont h6 span { margin: 0 0 0 6px; font-size: 13px; color: #939393; font-weight: 400; }
.edu_wrap #section_1 .cont p { margin: 15px 0 0; line-height: 22px; font-size: 16px; color: #313131; }
.edu_wrap #section_1 .cont p span { font-size: 13px; }
.edu_wrap #section_1 .cont p i { display: block; font-size: 12px; color: #939393; font-weight: 500; font-style: normal; }






@media (max-width: 1100px) {
    /*### page 1 ###*/
    .edu_wrap #section_1 .sub_title > div { font-size: 15px; letter-spacing: -1.1px; }

    .edu_wrap #section_1 .cont h4 { font-size: 18px; }

    .edu_wrap #section_1 .cont li { margin: 0 0 25px 4%; width: 48%; }
    .edu_wrap #section_1 .cont li:nth-child(3n+1) { margin-left: 4%; }
    .edu_wrap #section_1 .cont li:nth-child(2n+1) { margin-left: 0; }
    .edu_wrap #section_1 .cont .txt { padding: 0; }
    .edu_wrap #section_1 .cont h6 { font-size: 17px; }
    .edu_wrap #section_1 .cont p { font-size: 15px; word-break: keep-all; }

}





@media (max-width: 767px) {
    /*### page 1 ###*/
    .edu_wrap #section_1 .sub_title > div div { display: inline; }

    .edu_wrap #section_1 .cont ul { display: block; }
    .edu_wrap #section_1 .cont li { margin: 0 auto 40px; width: 100%; max-width: 450px; }
    .edu_wrap #section_1 .cont li:nth-child(3n+1) { margin-left: auto; }
    .edu_wrap #section_1 .cont li:nth-child(2n+1) { margin-left: auto; }
    .edu_wrap #section_1 .cont p { display: flex; justify-content: center; margin: 10px 0 0; }
    .edu_wrap #section_1 .cont li:last-child p { display: block; }
    .edu_wrap #section_1 .cont p i { font-size: 13px; }
}

















