@charset "utf-8";
@import url(./fonts.css);

* { margin: 0; padding: 0; box-sizing: border-box; border: 0; outline: none; font-family: 'Pretendard', sans-serif; }

ul { list-style: none; }
a { color: #000; text-decoration: none; }
table { width: 100%; border-collapse: collapse; border-spacing: 0; }
img { vertical-align: top; }

input[type="submit"],
input[type="button"], 
button { cursor: pointer; } 



.cWrap { margin: 0 auto; width: 100%; }
.cWrap_1 { max-width: 1000px; }
.cWrap_2 { max-width: 1100px; }
.cWrap_3 { max-width: 1200px; }

.subWrap .cWrap { padding: 140px 0 120px; }



/*########## header ##########*/
header { position: fixed; top: 0; left: 0; width :100%; height: 60px; background: #fff; border-bottom: 1px solid rgba(0, 0, 0, .2); z-index: 9999; }
header .cWrap { position: relative; display: flex; align-items: center; justify-content: space-between; }

/*### logo ###*/
#logo { width: 35px; height: 35px; }
#logo a { display: block; height: 100%; background: url(../img/common/logo.svg) no-repeat center; text-indent: -9999px; }


.m_nav_btn,
.m_location_btn { display: none; text-indent: -9999px; cursor: pointer; }
.m_location_btn a { display: block; width: 100%; height: 100%; }

/*### gnb ###*/
#gnb { display: flex; align-items: center; justify-content: space-between; min-width: 800px; }
#gnb > li { width: 20%; max-width: 160px; height: 60px; line-height: 60px; text-align: center; }  
#gnb > li > a { position: relative; display: inline-block; min-width: 65px; font-size: 16px; color: rgba(40, 40, 40, .5); transition: all .3s; }
#gnb > li > a:hover { color: #282828; }
#gnb > li > a:after { content: ""; position: absolute; left: 50%; bottom: 0; width: 0; height: 2px; background: #282828; transition: all .3s; }
#gnb > li > a:hover:after { left: 0; width: 100%; }

#gnb > li.on > a { color: #282828; font-weight: 600; }
#gnb > li.on > a:after { content: ""; position: absolute; left: 0; bottom: 0; width: 100%; height: 2px; background: #282828; }

nav .sub_menu { display: flex; align-items: center; position: absolute; top: 70px; right: 0; display: none; }
nav .sub_menu li { margin: 0 0 0 30px; line-height: 30px; }
nav .sub_menu li:first-child { margin: 0; }
nav .sub_menu li a { font-size: 13px; color: #767676; font-weight: 300; transition: all .3s; }
nav .sub_menu li a:hover { color: #656565; }
nav .sub_menu li.on a { color: #656565; font-weight: 500; border-bottom: 2px solid #656565; }

#gnb > li.on .sub_menu { display: flex; padding: 4px 25px; background: rgba(255, 255, 255, .9); border-radius: 200px; }



/*### language pack ###*/
#lang_pack { position: relative; display: flex; align-items: center; height: 60px; }
#lang_pack h6 { display: flex; align-items: center; justify-content: space-between; padding: 0 0 0 10px; line-height: 25px; font-size: 13px; font-weight: 400; color: #282828; text-transform: uppercase; cursor: pointer; }
#lang_pack h6 span { position: relative; top: 1px; display: block; margin: 0 0 0 10px; width: 9px; height: 6px; background: url(../img/common/arrow_down.svg) no-repeat center; background-size: 100%; }
#lang_pack ul { display: none; position: absolute; top: 45px; left: 50%; width: 80px; background: #fff; border: 1px solid #ddd; border-radius: 6px; transform: translateX(-50%); }
#lang_pack li { font-size: 13px; text-align: center; border-top: 1px dashed #ddd; text-transform: uppercase; }
#lang_pack li:first-child { border-top: 0; }
#lang_pack li a { display: block; line-height: 30px; color: #656565; }
#lang_pack li a:hover { background: #f9f9f9; }


/*### location ###*/
#location { width: 18px; height: 24px; }
#location a { display: block; height: 100%; background: url(../img/common/map_icon.svg) no-repeat center; background-size: 100%; text-indent: -9999px; }



/* on */
header.on { border-bottom-color: rgba(255, 255, 255, .2); background: transparent; }

header.on #logo a { background: url(../img/common/logo_w.svg) no-repeat center; }

header.on #gnb > li > a { color: rgba(255, 255, 255, .5); }
header.on #gnb > li > a:hover { color: #fff; }
header.on #gnb > li > a:after { background: #fff; }

header.on #gnb > li.on > a { color: #fff; }
header.on #gnb > li.on > a:after { background: #fff; }

header.on #gnb > li.on .sub_menu { background: rgba(0, 20, 44, .8); }

header.on nav .sub_menu li a,
header.on nav .sub_menu li a:hover,
header.on nav .sub_menu li.on a { color: #fff; border-bottom-color: #fff; }

header.on #lang_pack h6 { color: #fff; }
header.on #lang_pack h6 span { background: url(../img/common/arrow_down_w.svg) no-repeat center; background-size: 100%; }

header.on #location a { background: url(../img/common/map_icon_w.svg) no-repeat center; background-size: 100%; }





/*### mobile nav ###*/
#m_nav { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #fff; transform: translateX(-100%); transition: all .3s ease-in-out; overflow: auto; }
#m_nav.on { transform: translateX(0); }
#m_nav .wrap { position: relative; padding: 110px 40px 100px; }

#m_nav button { position: absolute; top: 40px; left: 40px; width: 25px; height: 25px; background: url(../img/sub/title_x.svg) no-repeat center; background-size: 100%; text-indent: -9999px; }

/* language */
#m_nav .lang { position: absolute; top: 40px; right: 40px; display: flex; }
#m_nav .lang li { display: flex; align-items: center; font-size: 18px; text-transform: uppercase; }
#m_nav .lang li:before { content: ""; display: block; margin: 0 15px; width: 2px; height: 15px; background: #989898; }
#m_nav .lang li:first-child:before { display: none; }
#m_nav .lang li a { color: #989898; }

#m_nav .lang li.on a { color: #313131; }

#m_nav h2 { font-size: 28px; color: #282828; font-weight: 700; }

/* nav */
#m_nav .gnb > li { margin: 35px 0 0; line-height: 35px; font-size: 24px; }
#m_nav .gnb > li:first-child { margin: 0; }
#m_nav .gnb > li > a { display: block; color: #282828; }

#m_nav .gnb > li.on { font-weight: 600; }
#m_nav .gnb > li.on > a { color: #1443bc; }

#m_nav .subMenu { display: none; }
#m_nav .subMenu li { margin: 20px 0 0; line-height: 30px; font-size: 17px; font-weight: 300; }
#m_nav .subMenu li a { color: #767676; }

#m_nav .subMenu li.on { font-weight: 500; }
#m_nav .subMenu li.on a { color: #656565; border-bottom: 2px solid #656565; }





/*########## page button ##########*/
#pageBtn div { position: fixed; top: 50%; transform: translateY(-50%); z-index: 999; }
#pageBtn a { display: flex; align-items: center; position: relative; width: 100%; min-width: 120px; height: 80px; background: rgba(162, 166, 188, .2); }
#pageBtn a:after { content: ""; position: absolute; top: 50%; width: 45px; height: 45px; border: 1px solid #a5a7b4; border-radius: 50%; transform: translateY(-50%); transition: all .3s;  }
#pageBtn a:hover { background: none; }
#pageBtn i { position: absolute; top: 50%; width: 48px; height: 1px; background: #282828; z-index: 9; transition: all .3s; }
#pageBtn i:after { content: ""; position: absolute; bottom: -1px; width: 1px; height: 8px; background: #282828; }
#pageBtn span { position: absolute; top: 50%; font-size: 15px; color: #282828; white-space: nowrap; opacity: 0; transform: translateY(-50%); transition: all .3s; }

#pageBtn > div:hover a:after { width: 25px; height: 25px; border-color: #d7d8e0; }
#pageBtn > div:hover span { display: block; }

#pageBtn .prev { left: 0; }
#pageBtn .prev a:after { left: 25px; }
#pageBtn .prev i { left: 50px; }
#pageBtn .prev i:after { left: 2px; transform: rotate(45deg); }  
#pageBtn .prev span { left: 100px; }

#pageBtn .prev:hover i { left: 15px; width: 25px; }
#pageBtn .prev:hover span { left: 70px; opacity: 1; }

#pageBtn .next { right: 0; }
#pageBtn .next a:after { right: 25px; }
#pageBtn .next i { right: 50px; }
#pageBtn .next i:after { right: 2px; transform: rotate(-45deg); }  
#pageBtn .next span { right: 100px; }

#pageBtn .next:hover i { right: 15px; width: 25px; }
#pageBtn .next:hover span { right: 70px; opacity: 1; }

/* on */
#pageBtn.on a { background: rgba(254, 254, 254, .2); }
#pageBtn.on a:after { border-color: rgba(214, 214, 214, .8); }
#pageBtn.on a:hover { background: none; }
#pageBtn.on i { background: #fff; }
#pageBtn.on i:after { background: #fff; }
#pageBtn.on span { color: #fff; }





/*########## sub title ##########*/
.sub_title { display: flex; align-items: center; margin: 0 0 35px; padding: 0 0 35px; border-bottom: 1px solid rgba(0, 0, 0, .1); }
.sub_title h3 { margin: 0 40px 0 0; padding: 0 80px 0 0; line-height: 40px; font-size: 30px; color: #282828; font-weight: 600; background: url(../img/sub/title_x.svg) no-repeat right center; }
.sub_title h3 span { display: block; font-size: 18px; font-weight: 500; }
.sub_title > div { align-items: center; flex-wrap: wrap; line-height: 28px; font-size: 18px; color: #282828; word-break: keep-all; }
.sub_title > div ul { position: relative; top: -1px; display: inline; line-height: 1; align-items: center; vertical-align: middle; }
.sub_title > div li { position: relative; display: inline; }
.sub_title > div ul.bold li { font-weight: 600; }
.sub_title > div li:first-child { margin: 0; }
.sub_title > div li:before { content: ""; position: relative; top: -1px; display: inline-block; margin: 0 10px; width: 14px; height: 2px; background: #282828; vertical-align: middle; }
.sub_title i { font-weight: 600; font-style: normal; }

.sub_title > div span { font-weight: 600; }
.sub_title > div span:before { content: ""; position: relative; top: -1px; display: inline-block; margin: 0 5px 0 0; width: 13px; height: 2px; background: #282828; vertical-align: middle; }
.sub_title > div span:after { content: ""; position: relative; top: -1px; display: inline-block; margin: 0 0 0 5px; width: 13px; height: 2px; background: #282828; vertical-align: middle; }


/* on */
.sub_title.on { border-bottom-color: rgba(255, 255, 255, .2); }
.sub_title.on h3 { color: #fff; background: url(../img/sub/title_x_w.svg) no-repeat right center; }
.sub_title.on > div { color: #fff; }
.sub_title.on > div li:before { background: #fff; }

.sub_title.on > div span:before { background: #fff; }
.sub_title.on > div span:after { background: #fff; }



/*########## h tag style ##########*/
h4.cStyle { margin: 0 0 35px; font-size: 20px; color: #282828; font-weight: 500; text-transform: uppercase; }
h4.cStyle ~ h4.cStyle { margin-top: 35px; }
h4.cStyle span { display: block; }
h4.cStyle span:after { content: ""; position: relative; top: -2px; margin: 0 0 0 10px; display: inline-block; width: 24px; height: 2px; background: #282828; vertical-align: middle; } 

/* on */
h4.cStyle.on { color: #fff; }
h4.cStyle.on span:after { background: #fff; }







/*########## fullpage ##########*/
#fullpage .fp-tableCell { vertical-align: top; }
#fullpage .cWrap { padding: 140px 0 120px; }

#fp-nav { position: fixed; top: 50%; right: 40px; margin-top: 0 !important; transform: translateY(60px); z-index: 999; }
#fp-nav li { display: flex; justify-content: center; }
#fp-nav li a { display: block; padding: 3px; }
#fp-nav li a span { display: block; margin: 3px 0; width: 13px; height: 13px; background: #aaa; border-radius: 50%; opacity: 1; }
#fp-nav li a.active span { background: #99DCFD; opacity: 1; }










@-webkit-keyframes bounce {
	0%, 100% { -webkit-transform: translateY(0); }
	50% { -webkit-transform: translateY(-10px); }
}
@keyframes bounce {
	0%, 100% { transform: translateY(0); }
	50% { transform: translateY(-10px); }
}

@-webkit-keyframes bounceX {
	0%, 100% { -webkit-transform: translateX(0); }
	50% { -webkit-transform: translateX(-10px); }
}
@keyframes bounceX {
	0%, 100% { transform: translateX(0); }
	50% { transform: translateX(-10px); }
}














/* 1100px / 820px / 767px / 424px */
/* ########################################################################################################################################## */
@media (max-width: 1250px) {
  /*########## page button ##########*/
  #pageBtn { display: none; }
}



@media (max-width: 1100px) {
  .subWrap .cWrap { padding: 210px 30px 120px; }

  .cWrap_1 { max-width: 100%; }

  /*########## header ##########*/
  header { height: auto; }
  header .cWrap { display: block; max-width: 100%; padding: 20px 0 0; }

  /*### logo ###*/
  #logo { margin: 0 auto; width: 175px; height: 50px; }
  #logo a { background: url(../img/common/m_logo.svg) no-repeat center; background-size: 100%; }


  .m_nav_btn { position: fixed; top: 27px; left: 30px; display: flex; align-items: center; justify-content: center; width: 35px; height: 35px; background: url(../img/common/m_nav_btn.svg) no-repeat center; background-size: 100%; }
  .m_location_btn { position: fixed; top: 27px; right: 30px; display: flex; align-items: center; justify-content: center; width: 35px; height: 35px; background: url(../img/common/m_top_right.svg) no-repeat center; background-size: 100% 100%; }

  /*### gnb ###*/
  #gnb { margin: 10px 0 0; min-width: 100%; }
  #gnb > li { width: 20%; height: 50px; line-height: 50px; }  

  nav .sub_menu { justify-content: end; top: 141px; right: 20px; }
  nav .sub_menu li { display: inline-block; line-height: 40px; }
  nav .sub_menu li a { font-size: 14px; }

  #gnb > li.on .sub_menu  { padding: 0 25px; }

  /*### language pack ###*/
  #lang_pack { display: none; }

  /*### location ###*/
  #location { display: none; }


  /* on */
  header.on #logo a { background: url(../img/common/m_logo_w.svg) no-repeat center; background-size: 100%; }

  header.on .m_nav_btn { background-image: url(../img/common/m_nav_btn_w.svg); }
  header.on .m_location_btn { background-image: url(../img/common/m_top_right_w.svg); }


  header.on #gnb > li > a { color: rgba(255, 255, 255, .5); }
  header.on #gnb > li > a:hover { color: #fff; }
  header.on #gnb > li > a:after { background: #fff; }

  header.on #gnb > li.on > a { color: #fff; }
  header.on #gnb > li.on > a:after { background: #fff; }

  header.on nav .sub_menu li a,
  header.on nav .sub_menu li a:hover,
  header.on nav .sub_menu li.on a { color: #fff; }

  header.on #lang_pack h6 { color: #fff; background: url(../img/common/arrow_down_w.svg) no-repeat right center; }

  header.on nav .sub_menu { background: transparent; }




  /*### mobile nav ###*/
  #m_nav { display: block; }



  /*########## page button ##########*/
  #pageBtn div { top: 55%; transform: translateY(-50%); }
  #pageBtn a { min-width: 110px; height: 70px; }
  #pageBtn a:after { width: 40px; height: 40px; }
  #pageBtn i { width: 42px; }
  


  /*########## sub title ##########*/
  .sub_title { padding: 0 0 25px; }
  .sub_title h3 { margin: 0 30px 0 0; padding: 0 60px 0 0; line-height: 40px; font-size: 27px; background-size: 35px; }
  .sub_title h3 span { font-size: 16px; }
  .sub_title > div { line-height: 24px; font-size: 16px; letter-spacing: -0.3px; }



  /*########## h tag style ##########*/
  h4.cStyle { font-size: 18px; }



  /*########## fullpage ##########*/
  #fullpage .cWrap { padding: 210px 30px 120px; }

  #fp-nav { right: 20px; }
  


}






@media (max-width: 820px) {
  .subWrap .cWrap { padding: 190px 25px 100px; }

  /*########## header ##########*/
  /*### logo ###*/
  #logo { width: 158px; height: 45px; }

  .m_location_btn { right: 25px; width: 30px; height: 30px; }

  .m_nav_btn { left: 25px; width: 30px; height: 30px; }

  /*### gnb ###*/
  #gnb > li { height: 45px; line-height: 44px; }

  nav .sub_menu { top: 121px; right: 0; }


  /*########## sub title ##########*/
  .sub_title { display: block; padding: 0 0 15px; }
  .sub_title h3 { margin: 0; padding: 0; line-height: 40px; font-size: 27px; background: none; }
  .sub_title > div { margin: 5px 0 0; }

  /* on */
  .sub_title.on h3 { background: none; }


  /*########## fullpage ##########*/
  #fullpage .cWrap { padding: 190px 25px 100px; }

  #fp-nav { right: 15px; transform: translateY(-50%); }
  #fp-nav li a span { width: 11px; height: 11px; }
}






@media (max-width: 767px) {
  .subWrap .cWrap { padding: 160px 20px 80px; }

  /*### gnb ###*/
  nav { overflow-x: scroll; overflow-y: hidden; }
  #gnb { display: block; min-width: 460px; white-space: nowrap; }
  #gnb > li { display: inline-block; width: 22%; max-width: 100%; }
  #gnb > li:nth-child(4) { width: 12%; }
  #gnb > li > a { font-size: 15px; }
  #gnb > li:nth-child(4) a { max-width: 100%; }


  nav .sub_menu { right: 0; padding: 0; }
  nav .sub_menu li { display: inline-block; margin: 0; }
  nav .sub_menu li a { display: block; padding: 0 20px; font-size: 13px; }

  #gnb > li.on .sub_menu { display: none; white-space: nowrap; overflow-x: scroll; }



  /*### mobile nav ###*/
  /* language */
  #m_nav .lang li { font-size: 17px; }
  #m_nav .lang li:before { height: 13px; }

  #m_nav h2 { font-size: 26px; }

  /* nav */
  #m_nav .gnb > li { margin: 28px 0 0; line-height: 30px; font-size: 22px; }

  #m_nav .subMenu li { margin: 16px 0 0; line-height: 28px; font-size: 16px; }



  /*########## page button ##########*/
  #pageBtn div { display: none; }


  
  /*########## sub title ##########*/
  .sub_title h3 { line-height: 35px; font-size: 25px; }
  .sub_title > div { font-size: 15px; }
  


  /*########## fullpage ##########*/
  #fullpage .cWrap { padding: 160px 20px 80px; }

  #fp-nav { right: 10px; }
}






@media (max-width: 424px) {
  /*### gnb ###*/
  #gnb { min-width: 400px; }


  /*########## sub title ##########*/
  .sub_title > div { line-height: 22px; font-size: 14px; }
}













/*############################################################################### etc ################################################################################*/
.etc_page .cWrap { display: flex; align-items: center; min-height: 100vh; }
.etc_page .cWrap > div { width: 100%; }
.etc_page .title { padding: 130px 0 0 100px; background: url(../img/etc/round_bg.svg) no-repeat; }
.etc_page .img { max-width: 100%; }
.etc_page .img img { max-width: 100%; max-height: 100%; }
.etc_page h3 { margin: 35px 0 0; font-size: 28px; color: #313131; font-weight: 500; }
.etc_page h3 span { font-size: 36px; font-weight: 600; }
.etc_page p { margin: 15px 0 0; line-height: 20px; font-size: 16px; color: #737373; font-weight: 500; }
.etc_page p span { display: block; }
.etc_page a { display: block; margin: 25px 0 0; width: 180px; height: 50px; line-height: 50px; font-size: 15px; color: #fff; font-weight: 500; text-align: center; background: #5161cc; transition: all .3s; }
.etc_page a:hover { background: #4253c8; }


@media (max-width: 820px) {
    .etc_page .title { padding: 110px 0 0 80px; }
    .etc_page h3 { font-size: 26px; }
    .etc_page h3 span { font-size: 34px; }
    .etc_page p { font-size: 15px; }
}

@media (max-width: 767px) {
    .etc_page .title { padding: 70px 0 0 20px; background-size: 320px; }
    .etc_page .img { padding: 0 0 0 50px; height: 60px; }
    .etc_page h3 { margin: 25px 0 0; font-size: 24px; }
    .etc_page p { font-size: 14px; }
    .etc_page a { width: 160px; height: 45px; line-height: 45px; }
}

@media (max-width: 424px) {
    .etc_page .title { padding: 70px 0 0; background-size: 290px; }
    .etc_page .img { height: 55px; }
    .etc_page h3 { font-size: 22px; }
    .etc_page p { font-size: 13px; letter-spacing: -0.3px; }
    .etc_page a { margin: 20px 0 0; width: 150px; height: 40px; line-height: 40px; }
}







/*########## 403 ##########*/
#etc_403 .cWrap > div { padding: 0 0 150px; background: url(../img/etc/403_img.svg) no-repeat right bottom; }

@media (max-width: 767px) {
    #etc_403 .cWrap > div { padding: 0 0 250px; background-size: 200px; }
}





/*########## 404 ##########*/
#etc_404 .cWrap > div { padding: 0 0 100px; background: url(../img/etc/404_img.svg) no-repeat right bottom; }

@media (max-width: 767px) {
    #etc_404 .cWrap > div { padding: 0 0 160px; background-size: 200px; }
}





/*########## 서비스 준비중 ##########*/
#etc_service .cWrap > div { padding: 0; background: url(../img/etc/service_img.svg) no-repeat right bottom; }
#etc_service .title { padding: 80px 0 100px 80px;  }
#etc_service .img { padding: 0 0 0 80px; }


@media (max-width: 1100px) {
    #etc_service .cWrap > div { padding: 0 0 20px; background-size: 300px; }
}

@media (max-width: 767px) {
    #etc_service .title { padding: 70px 0 70px 20px;  }
    #etc_service .cWrap > div { padding: 0 0 140px; background-size: 200px; }
}
