@charset "utf-8";
@import url(./common.css);



body { background: #000; }

header { background: #000 !important; }

#main .wrap { display: flex; align-items: center; justify-content: center; flex-direction: column; height: 100vh; }
#main .video { display: flex; justify-content: center; width: 100%; margin: 0 0 -50px; }
#main video { width: 100vw; max-width: 480px; height: 100vh; max-height: 480px; }
#main h2 { text-align: center; }
#main h2 img { max-width: 100%; }
#main p { display: flex; align-items: center; justify-content: center; margin: 25px 0 0; font-size: 15px; color: #fff; }
#main .play_btn { margin: 0 10px 0 0; width: 19px; height: 19px; background: url(../img/main/play_btn.svg) no-repeat center; background-size: 100%; text-indent: -9999px; }

#main .pause_btn { position: fixed; bottom: 30px; right: 30px; width: 28px; height: 28px; background-size: 100%; }
#main .pause_btn button { width: 100%; height: 100%; background: url(../img/main/pause_btn.svg) no-repeat center; background-size: 100%; text-indent: -9999px; }
#main .pause_btn button.off { background: url(../img/main/play_btn.svg) no-repeat center; background-size: 100%; }



/* popup */
#main_pop { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #000; z-index: 99999; }
#main_pop .close_btn { position: fixed; top: 30px; left: 30px; width: 35px; height: 35px; background: url(../img/sub/title_x_w.svg) no-repeat center; background-size: 100%; transition: all .3s; text-indent: -9999px; z-index: 999; }
#main_pop .close_btn:hover { transform: rotate(90deg); }

#main_pop video { position: absolute; top: 50%; left: 50%; width: 100vw; max-width: 600px; height: 100vh; max-height: 600px; transform: translate(-50%, -50%); vertical-align: top; }



@media (max-width: 1100px) {
    #main video { width: 80vh; height: 70vh; }
}


@media (max-width: 767px) {
    /* #main .wrap { padding: 80 } */
    #main video { margin: -30px 0; padding: 0 20px; max-width: -webkit-fill-available; max-height: -webkit-fill-available; }
    
    #main h2 { padding: 0 40px; }
    #main h2 img { max-height: 15vh; }
    #main p { font-size: 16px; }
    #main .play_btn { width: 25px; height: 25px; }
 
    #main .pause_btn { bottom: 20px; right: 20px; width: 30px; height: 30px; }

}


@media (max-height: 700px) {
    #main video { width: 80vh; height: 70vh; max-width: -webkit-fill-available; max-height: -webkit-fill-available; }
    #main h2 img { max-height: 15vh; }
}