@charset "utf-8";
@import url(./common.css);



body { background: #000; }

header { background: #000 !important; }

#main .wrap { display: flex; align-items: center; justify-content: center; flex-direction: column; height: 100vh; }
#main .video { display: flex; justify-content: center; width: 100%; margin: -8vh 0 0; }
#main video { max-width: 500px; max-height: 350px; }
#main h2 { margin: 10px 0 0; text-align: center; }
#main h2 img { max-width: 100%; }
#main p { display: flex; align-items: center; justify-content: center; margin: 15px 0 0; font-size: 15px; color: #fff; }
#main .play_btn { margin: 0 10px 0 0; width: 19px; height: 19px; background: url(../img/main/pop_play_btn.svg) no-repeat center; background-size: 100%; text-indent: -9999px; }

#main .btn_group { position: fixed; bottom: 25px; right: 30px; display: flex; }
#main .btn_group li { width: 37px; height: 37px; border: 2px solid #fff; border-left: 0; }
#main .btn_group li:first-child { border-left: 2px solid #fff; }
#main .btn_group button { display: block; width: 100%; height: 100%; text-indent: -9999px; }
#main .btn_group .sound { background: url(../img/main/muted_btn.svg) no-repeat center; background-size: 19px; }
#main .btn_group .pause { background: url(../img/main/pause_btn.svg) no-repeat center; background-size: 15px; }
#main .btn_group .sound.on { background: url(../img/main/volume_btn.svg) no-repeat center 10px; background-size: 19px; }
#main .btn_group .pause.on { background: url(../img/main/play_btn.svg) no-repeat center; background-size: 15px; }



/* popup */
#main_pop { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #000; z-index: 99999; }
#main_pop .close_btn { position: fixed; top: 30px; left: 30px; width: 35px; height: 35px; background: url(../img/sub/title_x_w.svg) no-repeat center; background-size: 100%; transition: all .3s; text-indent: -9999px; z-index: 999; }
#main_pop .close_btn:hover { transform: rotate(90deg); }

#main_pop .video_wrap { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

/* #main_pop video { position: absolute; top: 50%; left: 50%; width: 100vw; max-width: 500px; height: 100vh; max-height: 500px; transform: translate(-50%, -50%); vertical-align: top; } */

#main_pop .slide_btn { position: absolute; top: 50%; right: 0; width: 100%; transform: translateY(-50%); z-index: 99; }  
#main_pop .slide_btn > div { position: absolute; }
#main_pop .slide_btn .prev { left: -40px; }
#main_pop .slide_btn .next { right: -40px; }
#main_pop .slide_btn a { cursor: pointer; }  
#main_pop .slide_btn img { width: 20px; height: 30px; }  

#main_pop .video_cont { width: 960px; height: 540px; overflow: hidden; }
#main_pop .slide_cont { animation: fade 1.5s; }
#main_pop .slide_cont video { width: 100%; height: 100%; }
#main_pop .slide_pagination { margin: 15px 0 0; font-size: 16px; color: #fff; text-align: center; }


  
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

  


@media (max-width: 1100px) {
    #main .video { margin: -4vh 0 0; }


    /* popup */
    #main_pop .video_wrap { width: 80%; }

    #main_pop .video_cont { width: 100%; height: auto; }
    #main_pop .slide_pagination { font-size: 15px; }
}

@media (max-width: 767px) {
    #gnb > li { display: inline-block; width: 22%; max-width: 100%; }
    #gnb > li:nth-child(4) { width: 12%; }
    #gnb > li > a { display: inline-block; font-size: 15px; }
    #gnb > li:nth-child(4) a { max-width: 100%; }

    #gnb > li.on .sub_menu { display: none; }


    /* #main .wrap { padding: 80 } */
    #main video { margin: 0; padding: 0 20px; max-width: -webkit-fill-available; max-height: -webkit-fill-available; }
    
    #main h2 { padding: 0 40px; }
    #main h2 img { max-height: 14vh; }
    #main p { font-size: 16px; }
    #main .play_btn { width: 25px; height: 25px; }
 
    #main .pause_btn { bottom: 20px; right: 20px; width: 30px; height: 30px; }

    


    /* popup */
    #main_pop .video_wrap { width: 75%; }

    #main_pop .slide_btn .prev { left: -35px; }
    #main_pop .slide_btn .next { right: -35px; }
}

@media (max-height: 650px) {
    /* popup */
    #main_pop .video_cont { width: 100%; height: 100%; }
    #main_pop .video_cont video { height: 70vh; max-width: -webkit-fill-available; max-height: -webkit-fill-available; }
}


@media (max-height: 700px) {
    #main video { height: 38vh; max-width: -webkit-fill-available; max-height: -webkit-fill-available; }
    #main h2 img { max-height: 14vh; }
}
